@import '~@angular/material/theming';

@mixin nav-primary-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .labels-solid .mat-tab-label,
  .labels-solid .mat-tab-link {
    background-color: mat-color($primary, 200);
    color: mat-contrast($primary, 500);
  }

  .labels-solid .mat-tab-label.mat-tab-label-active,
  .labels-solid .mat-tab-link.mat-tab-label-active {
    background-color: white;
    color: mat-color($primary, 500);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }

  nav {

    a {
      color: mat-contrast($primary, 500);
    }

    .active,
    a.active {
      background: mat-color($primary, 900);
    }
  }

  .nav-controls {
    a {
      color: mat-contrast($primary, 500);
    }
  }
}

@mixin nav-secondary-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  nav.nav-bar-secondary {
    background-color: mat-color($primary, 900);
    color: mat-contrast($primary, 900);

    a {
      color: mat-contrast($primary, 900);
    }

    .active {
      color: mat-contrast($primary, 500);
      border-bottom: 2px solid mat-color($accent, A100);
    }
  }
}

@mixin nav-theme($theme) {
  @include nav-primary-theme($theme);
  @include nav-secondary-theme($theme);
}
