<form [formGroup]="searchForm">
  <div *ngIf="barType === 'SIMPLE'" class="search-box">
    <input-box class="input-raised">
      <button type="button" mat-raised-button matPrefix class="toggle-sidebar fill" (click)="showMore()" inputBoxPrefix>
        <mat-icon>subject</mat-icon>
      </button>
      <input type="text" formControlName="address"
             inputBoxInput
             class="input-addon-field last-item"
             placeholder="Hae osoitteella"
             (keyup.enter)="addressSelected(searchForm.value.address)"
             [matAutocomplete]="addressSearch"/>
      <mat-autocomplete #addressSearch="matAutocomplete">
        <mat-option *ngFor="let address of matchingAddresses | async"
                    [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
          {{ address.uiStreetAddress }}
        </mat-option>
      </mat-autocomplete>
    </input-box>
  </div>

  <div *ngIf="barType === 'BAR'" class="row">
    <div class="col s8">
      <input-box class="input-raised">
        <input type="text" formControlName="address"
               inputBoxInput placeholder="Hae osoitteella"
               (keyup.enter)="addressSelected(searchForm.value.address)"
               [matAutocomplete]="addressSearch"/>
      </input-box>
      <mat-autocomplete #addressSearch="matAutocomplete">
        <mat-option *ngFor="let address of matchingAddresses | async"
                    [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
          {{ address.uiStreetAddress }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col s2">
      <input-box class="input-raised">
        <input inputBoxInput type="text" formControlName="startDate" placeholder="Alkupäivämäärä"
               [matDatepicker]="startDatePicker"/>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker" inputBoxSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <field-error [form]="searchForm" field="startDate" hasError="required">
          {{'application.common.field.validityStartTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
    <div class="col s2">
      <input-box class="input-raised">
        <input inputBoxInput type="text" formControlName="endDate" placeholder="Loppupäivämäärä"
               [matDatepicker]="endDatePicker"/>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker" inputBoxSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <field-error [form]="searchForm" field="endDate" hasError="required">
          {{'application.common.field.validityEndTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
  </div>

  <div *ngIf="barType === 'ADVANCED'">
    <div class="col s12">
      <mat-form-field class="input-full-width">
        <input matInput type="text" formControlName="address"
               placeholder="Hae osoitteella"
               (keyup.enter)="addressSelected(searchForm.value.address)"
               [matAutocomplete]="addressSearch"/>
        <mat-autocomplete #addressSearch="matAutocomplete">
          <mat-option *ngFor="let address of matchingAddresses | async"
                      [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
            {{ address.uiStreetAddress }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="input-field col s6">
      <mat-form-field class="input-full-width">
        <input matInput type="text" formControlName="startDate" placeholder="Alkupäivämäärä"
               [matDatepicker]="startDatePicker"/>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker" inputBoxSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="input-field col s6">
      <mat-form-field class="input-full-width">
        <input matInput type="text" formControlName="endDate" placeholder="Loppupäivämäärä"
               [matDatepicker]="endDatePicker"/>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker" inputBoxSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col s12">
      <selection-group formControlName="statusTypes">
        <span class="label-small">Tilat</span>
        <selection-item *ngFor="let status of statusTypes" [item]="status">
          {{['application.status', status] | translation}}
        </selection-item>
      </selection-group>
    </div>
  </div>
</form>
