<div fxLayout="row" fxFill class="toolbar">
  <div fxFlex="250px" fxFlexAlign="center" class="logo">
    <div>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <img src="assets/svg/allu-logo.svg" [alt]="'nav.home' | translation">
      </a>
    </div>
    <div class="version">{{version | async}}</div>
  </div>
  <div fxFlex>
    <navbar *ngIf="authenticated"></navbar>
  </div>
  <div fxflex fxFlexAlign="center" class="nav-controls" *ngIf="authenticated">
    <a [routerLink]="['/logout']">KIRJAUDU ULOS</a>
  </div>
</div>


