@import '../../../assets/colors';

:host {
  background: mat-color($allu-primary, 500);
  color: mat-contrast($allu-primary, 500);
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 50px;
  padding: 0 16px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

[fxLayout="row"] {
  margin-bottom: 0px;
}

.logo {
  line-height: 1;
  padding-top: 5px;
  width: 250px;
}

.version {
  font-size: 9px;
  padding-left: 5px;
}


h1 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: .1px;
  margin: 0;
}
