<allu-card>
  <mat-card-title>{{'location.title' | translation}}</mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex="0 1 calc(20% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="location.postalAddress.streetAddress"
                 [disabled]="readonly"
                 [placeholder]="'location.postalAddress' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(40% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="location.info"
                 [disabled]="readonly"
                 [placeholder]="'location.additionalInfo' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(40%-18px)" class="align-right">
        <button
          mat-raised-button
          type="button"
          color="primary"
          [routerLink]="['/home']"
          [queryParams]="{applicationId: application.id}">
          {{'location.button.viewOnMap' | translation | uppercase}}
        </button>
        <ng-container *ngIf="canBeEdited">
          <button
            *availableTo="MODIFY_ROLES; types:[application.type]"
            mat-raised-button
            type="button"
            color="primary"
            [routerLink]="['/applications', application.id, 'location']">
            {{'location.button.edit' | translation | uppercase}}
          </button>
        </ng-container>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="18px" *ngIf="fixedLocationInfos$ | async as fixedLocationInfos">
      <div fxFlex="0 1 calc(40% - 18px)">
        <mat-form-field class="input-full-width">
          <mat-select class="input-full-width"
                      multiple
                      [disabled]="readonly"
                      [value]="['hidden']"
                      [placeholder]="'location.fixedLocations' | translation">
            <mat-select-trigger>
              <partial-list-display [items]="fixedLocationInfos" [show]="2"></partial-list-display>
            </mat-select-trigger>
            <mat-option value="hidden">hidden</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex="0 1 calc(20% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="location.uiArea"
                 [disabled]="readonly"
                 [placeholder]="'location.area' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(20% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="location.areaOverride"
                 [disabled]="readonly"
                 [placeholder]="'location.areaOverride' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(20% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="districtName(location.cityDistrictId) | async"
                 [disabled]="readonly"
                 [placeholder]="'location.cityDistrict' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(20% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="districtName(location.cityDistrictIdOverride) | async"
                 [disabled]="readonly"
                 [placeholder]="'location.cityDistrictOverride' | translation"/>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex="0 1 calc(20% - 18px)" *ngIf="showPaymentTariff">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="paymentTariff()"
                 [disabled]="readonly"
                 [placeholder]="'location.paymentTariff' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(20% - 18px)" *ngIf="showPaymentTariff">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [ngModel]="paymentTariffOverride()"
                 [disabled]="readonly"
                 [placeholder]="'location.paymentTariffOverride' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(20% - 18px)" *ngIf="application.type==='AREA_RENTAL'">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [value]="location.customerStartTime | date:'shortDate'"
                 [disabled]="readonly"
                 [placeholder]="'location.customerStartTime' | translation"/>
        </mat-form-field>
      </div>
      <div fxFlex="0 1 calc(20% - 18px)" *ngIf="application.type==='AREA_RENTAL'">
        <mat-form-field class="input-full-width">
          <input matInput type="text"
                 [value]="location.customerEndTime | date:'shortDate'"
                 [disabled]="readonly"
                 [placeholder]="'location.customerEndTime' | translation"/>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex class="mapcontainer">
        <div class="map-overlay">
          <map-layer-select
            style="width: 220px"
            classNames="input-raised"
            targetType="Location"
            [selected]="selectedLayersIds$ | async"
            [layerTree]="layerTree$ | async"></map-layer-select>
        </div>

        <map [selection]="true"
             [applicationId]="application.id"
             [showOnlyApplicationArea]="true"
             role="LOCATION"
             [availableLayers]="availableLayers$ | async"
             [selectedLayers]="selectedLayers$ | async"
        ></map>
      </div>
    </div>
    <div fxLayout="row" *ngIf="multipleLocations">
      <div fxFlex>
        <stored-locations [readonly]="true"></stored-locations>
      </div>
    </div>
  </mat-card-content>
</allu-card>
