@import '../../../../assets/colors';

.header-row {
  margin-top: 20px;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 48px;
    margin: 0;
    padding: 0 16px;
}

.search-bar {
    background: mat-color($allu-primary, 50);
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-height: 195px;

    .item-bar {
        background: mat-color($allu-primary, 50);
    }
}
