<other-info-acceptance
  *ngIf="otherInfoKeys.length"
  [form]="form"
  [oldInfo]="oldInfo"
  [newInfo]="newInfo"
  [fieldKeys]="otherInfoKeys"
  [meta]="meta$ | async"
  [readonly]="readonly"
  (otherInfoChanges)="otherInfoChanges($event)">

  <div class="left-header">
    <h2 mat-dialog-title>
      {{'informationRequest.field.others' | translation}}
    </h2>
  </div>
</other-info-acceptance>
