<div class="action-row">
  <ng-container *availableTo="['ROLE_PROCESS_APPLICATION']">
    <ng-container *ngIf="isWaitingForContract; else contractActions">
      <div class="action-item">
        <button mat-raised-button type="button" color="primary"
                (click)="rejectProposal()">
          {{'contract.rejectProposal' | translation | uppercase}}
        </button>
      </div>
    </ng-container>
    <ng-template #contractActions>
      <div class="action-item"
           *ngIf="isFromExternalSystem$ | async"
           [matTooltip]="'invoicing.requiredInvoicingInfoMissing' | translation"
           [matTooltipDisabled]="isValidForDecision">
        <button mat-raised-button type="button" color="primary"
                [disabled]="!isValidForDecision"
                (click)="createProposal()">
          {{'contract.createProposal' | translation | uppercase}}
        </button>
      </div>
      <div class="action-item"
           [matTooltip]="'invoicing.requiredInvoicingInfoMissing' | translation"
           [matTooltipDisabled]="isValidForDecision">
        <button mat-raised-button type="button" color="primary"
                [disabled]="!isValidForDecision"
                (click)="approve()">
          {{'contract.proposeApproval' | translation | uppercase}}
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>

