<h1 mat-dialog-title>
  {{['decision.type', status, 'title'] | translation }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="decisionForm">
    <div fxLayout="row" fxLayoutWrap>
      <div fxFlex="50" *ngIf="ownerSelection">
        <mat-form-field class="input-full-width">
          <mat-select [placeholder]="'decision.selectHandler' | translation" class="input-full-width"
                      formControlName="owner" required>
            <mat-option *ngFor="let owner of owners | async" [value]="owner.id">
              {{owner.realName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="decisionForm.get('owner').hasError('required')">
            {{'decision.field.handlerMissing' | translation}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" *ngIf="status !== 'DECISION'">
        <mat-form-field class="input-full-width">
          <textarea matInput matTextareaAutosize formControlName="comment" placeholder="Perustelut"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="100" *ngIf="emailDistribution">
        <mat-form-field class="input-full-width">
          <textarea matInput matTextareaAutosize formControlName="emailMessage"
                    placeholder="Sähköpostiviesti"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="100" *ngIf="status !== 'RETURNED_TO_PREPARATION'">
        <h2>Päätöksen jakelu</h2>
        <distribution-list [form]="decisionForm" [distributionList]="distributionList"></distribution-list>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" color="primary" (click)="confirm()">
    {{['decision.type', status, 'confirmText'] | translation | uppercase }}
  </button>
  <button mat-raised-button type="button" color="primary" (click)="cancel()">
    {{'common.button.cancel' | translation}}
  </button>
</div>
