.action-row {
  position: relative;
  top: -7px;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  min-height: 56px;
}

.action-item {
  padding: 0 15px;
}