.content-main {
  height: 75%;
  padding: 0 0.75rem;
}
.content-pdf {
  height: 100%;

  object {
    border: 1px solid #dcdcdc;
  }
}

.pdf-header {
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 2px 4px 0 rgba(153, 190, 220, 0.5);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  min-height: 56px;
}

.content-placeholder {
  height: 100%;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }
}
