@import '../../../assets/colors';

.modal-footer {
  .btn, .btn-flat {
    float: right;
    margin: 6px;
  }
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  display: block;
  color: mat-color($allu-primary, 500);
}
