<ng-container *ngIf="applicationChanges | async as application">
  <progressbar [step]="progressStep" [application]="application"></progressbar>
  <div fxLayout="row" fxLayoutGap="18px" class="content-main">
    <div fxFlex="calc(33% - 18px)">
      <div fxLayout="row">
        <div fxFlex>
          <application-basic-info [application]="application"></application-basic-info>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <decision-proposal></decision-proposal>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <mat-card>
            <mat-card-title>
              {{'decision.attachments' | translation}}
            </mat-card-title>
            <mat-card-content>
              <attachment-thumbnails [attachments]="decisionAttachments | async"></attachment-thumbnails>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div fxFlex="calc(66% - 18px)" class="content-pdf" *ngIf="pdfLoaded">
      <div class="pdf-header"></div>
      <object [data]="pdfUrl" type="application/pdf" height="100%" width="100%">
        <p>Päätöksen näyttäminen ei onnistu selaimellasi. Voit ladata sen <a [href]="pdfDownloadUrl">tästä</a></p>
      </object>
      <decision-actions [application]="application" (onDecisionConfirm)="onDecisionConfirm()"></decision-actions>
    </div>
    <div fxFlex="calc(66% - 18px)" class="content-placeholder" *ngIf="!pdfLoaded">
      <div class="pdf-header"></div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <img src="assets/images/decision-placeholder.png" alt="Decision placeholder"/>
      <decision-actions [application]="application"></decision-actions>
    </div>
  </div>
</ng-container>
