<h1 mat-dialog-title>
  {{getHeaderTextKey() | translation }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="decisionForm">
    <div fxLayout="row">
      <div fxFlex *ngIf="ownerSelection">
        <mat-form-field class="input-full-width">
          <mat-select [placeholder]="'decision.selectHandler' | translation" class="input-full-width"
                      formControlName="owner" required>
            <mat-option *ngFor="let owner of owners | async" [value]="owner.id">
              {{owner.realName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="decisionForm.get('owner').hasError('required')">
            {{'decision.field.handlerMissing' | translation}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" *ngIf="type === 'RETURNED_TO_PREPARATION' || type === 'REJECTED'">
      <div fxFlex>
        <mat-form-field class="input-full-width">
          <textarea matInput matTextareaAutosize formControlName="comment" required
                    [placeholder]="'decision.reason' | translation"></textarea>
          <mat-error *ngIf="decisionForm.get('comment').hasError('required')">
            {{'decision.field.commentMissing' | translation}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" *ngIf="emailDistribution">
      <div fxFlex>
        <mat-form-field class="input-full-width">
            <textarea matInput matTextareaAutosize formControlName="emailMessage"
                      [placeholder]="'decision.emailMessage' | translation"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" *ngIf="type !== 'RETURNED_TO_PREPARATION'">
      <div fxFlex="100">
        <h2>{{'decision.distribution.title' | translation}}</h2>
        <distribution-list [form]="decisionForm" [distributionList]="distributionList"></distribution-list>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" color="primary" (click)="confirm()" [disabled]="!decisionForm.valid">
    {{getConfirmButtonTextKey() | translation | uppercase }}
  </button>
  <button mat-raised-button type="button" color="primary" (click)="cancel()">
    {{'common.button.cancel' | translation}}
  </button>
</div>
