<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
  <div fxFlex="1 1 50%">
    <div *ngIf="existingApplication">
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center" class="align-with-content">
        <div fxFlex="none">
          <h1>
            <a [routerLink]="['/applications', application.id, 'summary']">
              {{application.applicationId}}
            </a>
          </h1>
          <div *ngIf="application.project as project" class="text-hint">
            <a [routerLink]="['/projects', project.id, 'info']">
              {{project.identifier}}
            </a>
          </div>
          <div *ngIf="application.identificationNumber" class="text-hint">
            {{application.identificationNumber}}
          </div>
        </div>
        <div fxFlex="none">
          <div class="application-info">
            <span>{{application.startTime | date:'shortDate'}}</span>
            <ng-container *ngIf="application.endTime">
              <span>-</span>
              <span>{{application.endTime | date:'shortDate'}}</span>
            </ng-container>
          </div>
        </div>
        <div fxFlex="none" *ngIf="hasReplacements$ | async">
          <button mat-button [matMenuTriggerFor]="replacementMenu" color="primary" disableRipple class="icon-with-info">
            <mat-icon>history</mat-icon>
            {{'application.replaced' | translation}}
          </button>
        </div>
        <div fxFlex="none" *ngIf="application.invoiced" class="icon-with-info">
          <mat-icon color="primary" class="icon-middle">check_circle</mat-icon>
          {{'application.invoiced' | translation}}
        </div>
        <div fxFlex="none">
          <button mat-icon-button (click)="addToBasket(application.id)">
            <mat-icon color="primary">shopping_basket</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="0 1 25%" fxFlexOffset="25%">
    <div class="progress-bar-container">
      <div>
        <ng-container *ngIf="application.status===undefined; else statusName">
          {{'application.newApplication' | translation | uppercase}}
        </ng-container>
        <ng-template #statusName>
          {{['application.status', application.status] | translation | uppercase}}
        </ng-template>
      </div>
      <div class="progress-bar" [ngClass]="color">
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-menu #replacementMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item *ngFor="let replacement of replacements$ | async" (click)="show(replacement.id)">
    {{replacement.applicationId}}
    <span *ngIf="replacement.identificationNumber">({{replacement.identificationNumber}})</span>
  </button>
</mat-menu>
