@mixin progressbar-theme($theme, $success, $basic) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  progressbar,
  progressbar .mat-toolbar {
    background: mat-color($primary, 50);
    color: mat-color($primary, 500);
  }

  progressbar .mat-progress-bar-background {
    fill: transparent;
  }

  .pending .mat-progress-bar-fill::after {
    background-color: mat-color($accent, 500);
  }

  .pending .mat-progress-bar-buffer {
    background: mat-color($accent, 500, 0.5);
  }

  .decision .mat-progress-bar-fill::after {
    background: map-get($success, 200);
  }

  .finished .mat-progress-bar-fill::after {
    background: map-get($success, 500);
  }

  .rejected .mat-progress-bar-fill::after {
    background-color: mat-color($warn, 500);
  }

  .cancelled .mat-progress-bar-fill::after {
    background-color: mat-color($warn, 500, 0.5);
  }

  .history .mat-progress-bar-fill::after {
    background-color: map-get($basic, 500);
  }
}
