@import '../../../../assets/colors';

:host {
  mat-toolbar {
    background: mat-color($allu-primary, 50);
    color: mat-color($allu-primary, 500);
    margin-bottom: 0px;
  }
}

.progress-header {
  color: mat-color($allu-primary, 300);
  min-width: 250px;

  .mat-select-value-text {
    color: mat-color($allu-primary, 300) !important;
  }
}

.progress-label p {
  color: mat-color($allu-primary, 300);
  font-weight: bold;
}

.progress {
  background-color: mat-color($allu-accent, 50);

  .determinate {
    background-color: mat-color($allu-accent, A100);
  }
}

p {
  font-size: .8rem;
  margin-bottom: 0;
}
