@import '../../../../assets/colors';

:host ::ng-deep {
  margin-bottom: 0px;
}

.application-info {
  font-weight: 300;
  white-space: nowrap;
}

.application-info span:not(:first-child) {
  margin-left: 4px;
}

.icon-with-info {
  font-size: 16px;
  font-weight: normal;
}

.progress-bar-container {
  font-size: 16px;
  max-width: 200px;
}

.progress-bar .mat-progress-bar {
  height: 12px;
  border-radius: 2px;
}
