html,
button,
input,
select,
textarea {
  color: #222; }

img {
  width: 100%; }

html {
  font-family: Arial; }

h1 {
  font-size: 11pt; }

h2 {
  font-size: 10pt; }

p, li {
  font-size: 10pt; }

hr {
  width: 100%;
  margin-bottom: 5px; }

.header {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding: 10px 0px;
  float: left;
  width: 95%; }
  .header div {
    display: inline-block;
    vertical-align: top; }
  .header p {
    margin: 0.1em; }
  .header .logo {
    width: 13%;
    float: left;
    padding-right: 10pt; }
  .header .department {
    width: 36%;
    float: left; }
  .header .half-right {
    width: 49%;
    float: right; }
    .header .half-right h1 {
      display: inline;
      float: left;
      margin: 0.1em; }
    .header .half-right .page {
      margin: 0.1em;
      display: inline;
      float: right;
      font-style: normal; }
    .header .half-right .id {
      clear: both;
      display: block; }
      .header .half-right .id table {
        width: 100%;
        border-style: none; }
        .header .half-right .id table td {
          padding: 0px; }
        .header .half-right .id table td.c1 {
          width: 35%;
          font-size: 8pt; }
        .header .half-right .id table td.c2 {
          font-size: 10pt; }

.body .unboxed {
  margin-bottom: 10pt; }
.body .boxed {
  border: solid black thin;
  padding: 0 10pt;
  margin: 12pt 0; }
.body h1, .body h2, .body p, .body ul {
  margin-bottom: 0px;
  margin-top: 0px; }
.body p.space-above {
  margin-top: 10pt; }
.body li {
  margin-top: 2pt; }
.body hr {
  border-style: none;
  margin-bottom: 0px; }
.body hr.signature {
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-top: 1em; }
.body .half-left {
  display: inline-block;
  vertical-align: top;
  width: 47%; }
.body .half-right {
  display: inline-block;
  vertical-align: top;
  width: 47%; }
.body .threecols-left {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 25%; }
.body .threecols-center {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 45%; }
.body .threecols-right {
  display: inline-block;
  vertical-align: top;
  width: 25%; }
.body .charge-info {
  margin-top: 10pt;
  font-size: 10pt;
  width: 95%;
  display: table; }
  .body .charge-info .row {
    display: table-row; }
  .body .charge-info .c1, .body .charge-info .c2, .body .charge-info .c3, .body .charge-info .c4 {
    display: table-cell; }
  .body .charge-info .c1 {
    width: 50%; }
    .body .charge-info .c1 .explanation {
      float: none; }
    .body .charge-info .c1 .up-arrow {
      display: block;
      float: left;
      border-bottom: 1pt dashed;
      border-left: 1pt dashed;
      height: 5pt;
      padding-left: 1em;
      margin: 0 0.5em; }
  .body .charge-info .c2, .body .charge-info .c3 {
    width: 15%; }
  .body .charge-info .c4 {
    text-align: right;
    width: 20%; }
  .body .charge-info .sum-row {
    display: table-row; }
    .body .charge-info .sum-row .c1, .body .charge-info .sum-row .c2, .body .charge-info .sum-row .c3, .body .charge-info .sum-row .c4 {
      border-top: 1.5pt solid; }

.footer {
  padding-bottom: 30px;
  width: 100%; }
  .footer div {
    width: 15%;
    display: block;
    float: left; }
    .footer div.visit {
      width: 24%; }
    .footer div.contact {
      width: 24%; }
    .footer div.logo {
      width: 13%;
      float: right; }
    .footer div h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 11px; }
    .footer div p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 11px; }

.bottom {
  border-color: white;
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom: white;
  padding-bottom: 20px; }

/*# sourceMappingURL=new-style.css.map */
