html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-family: Arial; }

img {
  width: 50%; }

h1 {
  font-size: 14px; }

p {
  display: block;
  font-size: 14px; }

hr {
  width: 100%;
  margin-bottom: 5px; }

.header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 10px 0px;
  float: left;
  width: 95%; }
  .header .half-left {
    width: 49%;
    margin-right: 2%;
    float: left; }
  .header .half-right {
    width: 49%;
    float: right; }
  .header .inline h1 {
    display: inline;
    float: left;
    margin: 0px; }
  .header .inline .page {
    margin: 0px;
    display: inline;
    float: right;
    font-style: normal; }
  .header .inline .id {
    float: left;
    width: 65%; }
    .header .inline .id p {
      margin: 0px; }
    .header .inline .id span {
      font-size: 11px; }

.body {
  margin-left: 20px;
  margin-right: 20px; }
  .body div {
    width: 100%; }
  .body h1 {
    margin-bottom: 0px; }
  .body p {
    margin-top: 0px; }
  .body hr {
    border-style: none;
    margin-bottom: 0px; }
  .body .half-left {
    width: 49%;
    margin-right: 2%;
    float: left; }
  .body .half-right {
    width: 49%;
    float: right; }
  .body .text-flow {
    margin-bottom: 0px; }

.footer {
  padding-bottom: 30px;
  width: 100%; }
  .footer div {
    width: 15%;
    display: block;
    float: left;
    margin: 0 18px; }
    .footer div.postal {
      width: 24%; }
    .footer div.visit {
      width: 11%; }
    .footer div.contact {
      width: 14%; }
    .footer div.internet {
      width: 14%; }
    .footer div.tax {
      width: 9%; }
    .footer div h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 11px; }
    .footer div p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 11px; }

.bottom {
  border-color: white;
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom: white;
  padding-bottom: 20px; }
