<mat-list class="search-results">
  <ng-container *ngFor="let application of applications$ | async">
    <mat-divider></mat-divider>
    <mat-list-item>
      <h1 matLine fxLayout="row" fxLayoutAlign="start center">
        <a fxFlex [routerLink]="['/applications', application.id, 'summary']">{{application.applicationId}}</a>
        <div fxFlex="none">
          <button mat-icon-button color="primary"
                  [matTooltip]="'applicationBasket.addTo' | translation"
                  (click)="addToBasket(application.id)">
            <mat-icon>shopping_basket</mat-icon>
          </button>
        </div>
        <div fxFlex="none">
          <button mat-icon-button color="primary"
                  [matTooltip]="'map.focusOnApplication' | translation"
                  (click)="focusOnApplication(application)">
            <mat-icon>filter_center_focus</mat-icon>
          </button>
        </div>
      </h1>
      <div matLine>{{application.name}}</div>
      <div matLine>{{['application.status', application.status] | translation}}</div>
      <div matLine>{{application.address}}</div>
      <div matLine *ngIf="application.applicant.customer as applicant">{{applicant.name}}</div>
      <div matLine>{{application.startTime | date:'shortDate'}} - {{application.endTime | date:'shortDate'}}</div>
    </mat-list-item>
  </ng-container>
  <ng-container *ngIf="remaining$ | async as remaining">
    <div *ngIf="remaining > 0" class="search-result-footer">
      <span>{{remaining}} hakemusta vielä näytettäväksi. </span>
      <button class="button-link" (click)="showMore()">Näytä lisää</button>
    </div>
  </ng-container>
</mat-list>
