<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <div class="row">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
              [readonly]="readonly" [showPropertyDeveloper]="true" [contactRequired]="true"></customer>
  </div>

  <div class="row" *ngIf="hasPropertyDeveloper">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.propertyDeveloper"
              [readonly]="readonly"></customer>
  </div>

  <div class="row">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.contractor"
              [readonly]="readonly" [showRepresentative]="true" [contactRequired]="true"></customer>
  </div>

  <div class="row" *ngIf="hasRepresentative">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.representative"
              [readonly]="readonly"></customer>
  </div>

  <div class="row">
    <div class="col m12">
      <mat-card>
        <mat-card-title>Aluevuokrauksen voimassaolo</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div formGroupName="validityTimes" class="col s6">
              <div class="col s6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" placeholder="Voimassaolon aloitus*"
                         [matDatepicker]="startTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                      {{'application.common.field.validityStartTimeMissing' | translation}}
                    </field-error>
                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                      {{'application.common.field.validityStartBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime" placeholder="Voimassaolon lopetus*"
                         [matDatepicker]="endTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="endTimePicker" [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                      {{'application.common.field.validityEndTimeMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="col s3">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="workFinished" placeholder="Työ valmis"
                       [matDatepicker]="workFinishedPicker"/>
                <mat-datepicker-toggle matSuffix [for]="workFinishedPicker"
                                       [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #workFinishedPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <mat-card>
        <mat-card-title>Aluevuokrauksen tiedot</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col m2">
              <mat-checkbox formControlName="pksCard">Pks-kortti</mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                                <textarea matInput matTextareaAutosize formControlName="trafficArrangements"
                                          placeholder="Suoritettavat liikennejärjestelyt"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <mat-button-toggle-group formControlName="trafficArrangementImpedimentType">
                <mat-button-toggle value="NO_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.NO_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="INSIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.INSIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="IMPEDIMENT_FOR_HEAVY_TRAFFIC">
                  {{'application.trafficArrangementImpedimentType.IMPEDIMENT_FOR_HEAVY_TRAFFIC' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="SIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.SIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                                <textarea matInput matTextareaAutosize formControlName="additionalInfo"
                                          placeholder="Lisätiedot"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <pricing-info [form]="applicationForm"></pricing-info>
    </div>
  </div>

  <div class="row" *ngIf="readonly">
    <div class="col m12">
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div class="row" *ngIf="showTerms">
    <div class="col s12">
      <terms [form]="applicationForm" [applicationType]="application.typeEnum" [terms]="application.extension.terms"
             [readonly]="readonly"></terms>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
