<div fxLayout="row wrap" class="history-item">
  <div fxFlex="0 0 10%">
    {{change.changeTime | date:'short'}}
  </div>
  <div fxFlex="0 0 15%" class="text-highlighted">
    <ng-container *ngIf="change.changeSpecifier; else changeTypeInfo">
      <div [ngSwitch]="change.changeType">
        <ng-container *ngSwitchCase="'LOCATION_CHANGED'">
          {{'history.change.typeWithSpecifier.LOCATION_CHANGED' | translation:{locationKey: change.changeSpecifier} }}
        </ng-container>
        <ng-container *ngSwitchCase="'ATTACHMENT_ADDED'">
          {{'history.change.typeWithSpecifier.ATTACHMENT_ADDED' | translation:{attachmentName: change.changeSpecifier} }}
        </ng-container>
        <ng-container *ngSwitchCase="'ATTACHMENT_REMOVED'">
          {{'history.change.typeWithSpecifier.ATTACHMENT_REMOVED' | translation:{attachmentName: change.changeSpecifier} }}
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{['history.change.typeWithSpecifier', change.changeType, change.changeSpecifier] | translation}}
        </ng-container>
      </div>
    </ng-container>
    <ng-template #changeTypeInfo>
      {{['history.change.type', change.changeType] | translation}}
    </ng-template>
    <span *ngIf="fieldChanges.length"
          [matBadge]="fieldChanges.length"
          matBadgeOverlap="false"
          matBadgeColor="accent"
          class="allu-badge-center"></span>
  </div>
  <div fxFlex="0 0 30%" class="text-highlighted">
    <ng-container *ngIf="description">
      <ng-container *ngIf="description.single; else oldToNew">
        <history-item-description [changeItem]="description.single"></history-item-description>
      </ng-container>
      <ng-template #oldToNew>
        <history-item-description *ngIf="description.old" [changeItem]="description.old"></history-item-description>
        <mat-icon class="icon-middle">arrow_forward</mat-icon>
        <history-item-description *ngIf="description.new" [changeItem]="description.new"></history-item-description>
      </ng-template>
      <ng-container>
    </ng-container>

    </ng-container>
  </div>
  <div fxFlex="0 0 20%">
    {{change.user?.realName}}
  </div>
</div>
<history-fields
  *ngIf="fieldsVisible"
  [fieldChanges]="fieldChanges"
  [meta]="meta"></history-fields>
