@mixin history-theme($theme) {
  $primary: map-get($theme, primary);

  ul.history-items {
    li:nth-of-type(odd) .history-item {
      background: mat-color($primary, 100);
    }

    li:nth-of-type(even) .history-item {
      background: mat-color($primary, 50);
    }
  }
}
