@import '../../../../assets/colors';

.row-highlight {
  background-color: mat-color($allu-primary, 100) !important;
}

.bottom-row {
  border-bottom: 1px solid #d0d0d0;
}

.status-text {
  font-weight: bold;
  color: mat-color($allu-primary, 500);
}

.tag-row {
  margin-left: 50px;
}

.tag-row .tag-row-title {
  font-weight: bold;
}

.mat-chip.slim-chip {
  margin: 0px 2px;
  line-height: 1.43;
  font-size: 14px;
}

.multi-row-upper-part {
  border-bottom: none;
}
