<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById">
    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef>
        <div>
          <mat-checkbox [checked]="allSelected" (change)="checkAll($event)"></mat-checkbox>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="selected(row.content.id)" (change)="checkSingle($event, row.content.id)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner.userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.owner' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.content.owner?.realName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="applicationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.applicationId' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.content.applicationId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.type.title' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['application.type', row.content.type] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.status.title' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['application.status', row.content.status] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="project.name">
      <mat-header-cell *matHeaderCellDef>{{'project.title' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.content.project?.name}} <br>
        <span>{{row.content.project?.id}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customers.applicant.customer.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.applicant' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.content.applicant.customer.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locations.streetAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.streetAddress' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.content.firstLocation?.postalAddress?.streetAddress}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locations.cityDistrictId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.cityDistrict' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{districtName(row.content.firstLocation.effectiveCityDistrictId) | async}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.creationTime' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.content.creationTime | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.startTime' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.content.startTime | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef>{{'application.comments' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.content.comments.length">
          <button mat-raised-button type="button" color="primary" (click)="showComments(row.content.id)">
            {{'common.button.show' | translation | uppercase}}
          </button>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-cell *matCellDef="let row">
        <div fxLayout="row" fxLayoutWrap class="tag-row">
          <div fxFlex="100px" class="tag-row-title">{{'application.tags' | translation}}</div>
          <div fxFlex>
            <mat-chip-list>
              <mat-chip *ngFor="let tag of row.content" [selected]="tagSelected(tag.type)"
                        class="accent-chip slim-chip" color="accent">
                {{['application.tag.type', tag.type] | translation}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
             class="clickable" [class.row-highlight]="highlight(i, row)"
             [class.multi-row-upper-part]="hasTagRow(i, row)"
             (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)"
             (click)="toApplication(row.content, $event)"></mat-row>

    <mat-row *matRowDef="let row; columns: ['tags']; when: isTagRow; let i = index;"
             class="bottom-row clickable" [class.row-highlight]="highlight(i, row)"
             (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="(dataSource.page | async).totalElements"
                 [pageIndex]="0"
                 [pageSize]="25"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
