@import '../../../../assets/colors';

.content-row {
  border-bottom: none;
}

.row-highlight {
  background-color: mat-color($allu-primary, 50);
}

.tag-row {
  min-height: 0px;
}

.status-text {
  font-weight: bold;
  color: mat-color($allu-primary, 500);
}

.tag-details-row {
  margin-left: 50px;
  min-height: 48px;
}

.tag-details-row .tag-details-row-title {
  font-weight: bold;
}

.mat-chip.slim-chip {
  margin: 0px 2px;
  line-height: 1.43;
  font-size: 14px;
}
