<h1 class="content-header">Kommentit</h1>
<div class="row" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
  <div class="col m12 col-centered">
    <div class="file-drop-zone">
      <button mat-raised-button type="button" color="primary" (click)="addNew()">
        {{'comment.addComment' | translation}}
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>
    </div>
  </div>
</div>

<ul>
  <li *ngFor="let com of comments.controls; let i = index;">
    <div class="row">
      <div class="col s12">
        <comment [form]="com" (onSave)="save(i, $event)" (onRemove)="remove(i, $event)"></comment>
      </div>
    </div>
  </li>
</ul>
