<mat-card>
  <mat-card-title>
    {{'history.title' | translation}}
  </mat-card-title>
  <mat-card-content>
    <table class="bordered responsive-table">
      <thead>
      <tr>
        <th>{{'history.changeTime' | translation}}</th>
        <th>{{'history.change.title' | translation}}</th>
        <th>{{'history.changer' | translation}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let change of history | async" (click)="showDetails(change)" class="clickable row-highlight">
        <td class="no-wrap">{{change.uiChangeTime}}</td>
        <td>
          <span>{{['history.change.type', change.changeType] | translation}}</span>
          <span *ngIf="change.newStatus">{{['application.status', change.newStatus] | translation}}</span>
          <span *ngFor="let fieldChange of change.fieldChanges; let last=last">
              {{formatter.toFormattedFieldNames(fieldChange).uiFieldName | commaSeparated: last}}
          </span>
        </td>
        <td class="no-wrap">{{users.get(change.userId)}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
