<form [formGroup]="customerForm">
  <div class="col m6">
    <mat-card class="customer-card">
      <mat-card-title>
        {{['customer.role', customerWithContacts.uiRoleType, 'title'] | translation}}
        <button mat-icon-button type="button" *ngIf="canBeEdited()" (click)="edit()" class="align-with-text">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button type="button" *ngIf="!readonly" (click)="contacts.addContact()" class="align-with-text">
          <mat-icon>group_add</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>
        <customer-info [form]="customerForm" [allowSearch]="true"
                       (customerChange)="onCustomerChange($event)"></customer-info>
        <div class="row form-group">
          <div class="col m6 height-fix-bottom" *ngIf="showRepresentative">
            <mat-checkbox [checked]="parentForm.getRawValue().hasRepresentative" [disabled]="readonly"
                          (change)="onRepresentativeChange($event.checked)">
              {{'customer.handledByRepresentative' | translation}}
            </mat-checkbox>
          </div>
          <div class="col m6 height-fix-bottom" *ngIf="showPropertyDeveloper">
            <mat-checkbox [checked]="parentForm.getRawValue().hasPropertyDeveloper" [disabled]="readonly"
                          (change)="onPropertyDeveloperChange($event.checked)">
              {{'customer.hasPropertyDeveloper' | translation}}
            </mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
<contact #contacts [parentForm]="parentForm" [customerRoleType]="customerWithContacts.uiRoleType"
         [readonly]="readonly" [contactRequired]="contactRequired"></contact>
