$logo-width: 50%
$h1-font-size: 14px
$p-font-size: 14px
$p-small-font-size: 11px
$h1-footer-font-size: 11px
$p-footer-font-size: 11px

html,
button,
input,
select,
textarea
  color: #222

html
  font-family: Arial

img
  width: $logo-width

h1
  font-size: $h1-font-size

p
  display: block
  font-size: $p-font-size

hr
  width: 100%
  margin-bottom: 5px

.header
  margin-left: 20px
  margin-right: 20px
  margin-top: 30px
  padding: 10px 0px
  float: left
  width: 95%

  .half-left
    width: 49%
    margin-right: 2%
    float: left

  .half-right
    width: 49%
    float: right

  .inline
    h1
      display: inline
      float: left
      margin: 0px
    .page
      margin: 0px
      display: inline
      float: right
      font-style: normal
    .id
      float: left
      width: 65%
      p
        margin: 0px
      span
        font-size: $p-small-font-size

.body
  margin-left: 20px
  margin-right: 20px
  div
    width: 100%
  h1
    margin-bottom: 0px
  p
    margin-top: 0px
  hr
    border-style: none
    margin-bottom: 0px
  .half-left
    width: 49%
    margin-right: 2%
    float: left
  .half-right
    width: 49%
    float: right
  .text-flow
    margin-bottom: 0px

.footer
  padding-bottom: 30px
  width: 100%
  div
    width: 15%
    display: block
    float: left
    margin: 0 18px
    &.postal
      width: 24%
    &.visit
      width: 11%
    &.contact
      width: 14%
    &.internet
      width: 14%
    &.tax
      width: 9%
    h1
      margin-top: 0
      margin-bottom: 0
      font-size: $h1-footer-font-size
    p
      margin-top: 0
      margin-bottom: 0
      font-size: $p-footer-font-size

.bottom
  border-color: white
  border-top: white
  border-left: white
  border-right: white
  border-bottom: white
  padding-bottom: 20px
