<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="18px">
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width">
        <mat-select class="input-full-width" formControlName="type"
                    (selectionChange)="resetFormIfExisting()" required
                    [placeholder]="'customer.type.pick' | translation">
          <mat-option *ngFor="let type of customerTypes" [value]="type">
            {{['customer.type', type, 'name'] | translation}}
          </mat-option>
        </mat-select>
        <small>
          <field-error [form]="form" field="type" hasError="required">
            {{'customer.field.typeMissing' | translation}}
          </field-error>
        </small>
      </mat-form-field>
    </div>
    <div fxFlex="calc(50% - 18px)">
      <div fxLayout="row" class="inner-row" fxLayoutGap="18px">
        <div fxFlex="0 1 calc(25% - 18px)">
          <mat-form-field class="input-full-width">
            <mat-select class="input-full-width"
                        formControlName="country" required
                        [placeholder]="'customer.country' | translation">
              <mat-option *ngFor="let country of countries | async" [value]="country.code">
                {{country.description}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('country').hasError('required')">
              {{'customer.field.countryMissing' | translation}}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 18px)" *ngIf="showInvoicingInfo && existingCustomer">
          <mat-form-field class="input-full-width">
            <input matInput type="text"
                   formControlName="sapCustomerNumber"
                   [placeholder]="'customer.sapCustomerNumber' | translation"/>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <!-- Person -->
  <div fxLayout="row wrap" fxLayoutGap="18px" *ngIf="form.value.type==='PERSON'; else notPerson">
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width">
        <input matInput type="text" formControlName="name" required
               [placeholder]="['customer.type', form.value.type || 'DEFAULT', 'nameLabel'] | translation"
               [matAutocomplete]="nameSearch" (keyup)="onKeyup($event)"/>
        <mat-autocomplete #nameSearch="matAutocomplete" class="multi-line-option">
          <mat-option *ngFor="let customer of matchingNameCustomers | async"
                      [value]="customer.name" (onSelectionChange)="customerSelected(customer)">
            <customer-option-content
              [customer]="customer"
              [showRegistryKey]="false"
              [showInvoicingInfo]="showInvoicingInfo"></customer-option-content>
          </mat-option>
        </mat-autocomplete>

        <mat-hint>
          <field-error [form]="form" field="name" hasError="required">
            {{'customer.field.nameMissing' | translation}}
          </field-error>
          <field-error [form]="form" field="name" hasError="minlength">
            {{'customer.field.nameShort' | translation}}
          </field-error>
        </mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width" [inputWarning]="registryKeyControl">
        <input matInput type="text" formControlName="registryKey"
               placeholder="{{['customer.type', form.value.type || 'DEFAULT', 'id'] | translation}}"
               [matAutocomplete]="registryKeySearch"/>

        <mat-autocomplete #registryKeySearch="matAutocomplete" class="multi-line-option">
          <mat-option *ngFor="let customer of matchingRegistryKeyCustomers | async"
                      [value]="customer.registryKey" (onSelectionChange)="customerSelected(customer)">
            <customer-option-content
              [customer]="customer"
              [showRegistryKey]="true"
              [showInvoicingInfo]="showInvoicingInfo"></customer-option-content>
          </mat-option>
        </mat-autocomplete>

        <mat-hint>
          <field-error [form]="form" field="registryKey" hasError="minlength">
            {{'customer.field.registryKeyShort' | translation}}
          </field-error>
          <field-error [form]="form" field="registryKey" hasError="invalidSsn">
            {{'customer.field.invalidSsn' | translation}}
          </field-error>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>

  <!-- Others -->
  <ng-template #notPerson>
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field class="input-full-width">
          <input matInput type="text" formControlName="name" required
                 [placeholder]="['customer.type', form.value.type || 'DEFAULT', 'nameLabel'] | translation"
                 [matAutocomplete]="nameSearch" (keyup)="onKeyup($event)"/>
          <mat-autocomplete #nameSearch="matAutocomplete" class="multi-line-option">
            <mat-option *ngFor="let customer of matchingNameCustomers | async"
                        [value]="customer.name" (onSelectionChange)="customerSelected(customer)">
              <customer-option-content
                [customer]="customer"
                [showRegistryKey]="true"
                [showInvoicingInfo]="showInvoicingInfo"></customer-option-content>
            </mat-option>
          </mat-autocomplete>

          <mat-hint>
            <field-error [form]="form" field="name" hasError="required">
              {{'customer.field.nameMissing' | translation}}
            </field-error>
            <field-error [form]="form" field="name" hasError="minlength">
              {{'customer.field.nameShort' | translation}}
            </field-error>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="18px">
      <div fxFlex="calc(50% - 18px)">
        <mat-form-field class="input-full-width" [inputWarning]="registryKeyControl">
          <input matInput type="text" formControlName="registryKey"
                 [placeholder]="['customer.type', form.value.type || 'DEFAULT', 'id'] | translation"
                 [matAutocomplete]="registryKeySearch"/>

          <mat-autocomplete #registryKeySearch="matAutocomplete" class="multi-line-option">
            <mat-option *ngFor="let customer of matchingRegistryKeyCustomers | async"
                        [value]="customer.registryKey" (onSelectionChange)="customerSelected(customer)">
              <customer-option-content
                [customer]="customer"
                [showRegistryKey]="true"
                [showInvoicingInfo]="showInvoicingInfo"></customer-option-content>
            </mat-option>
          </mat-autocomplete>

          <mat-hint>
            <field-error [form]="form" field="registryKey" hasError="minlength">
              {{'customer.field.registryKeyShort' | translation}}
            </field-error>
            <field-error [form]="form" field="registryKey" hasError="invalidSsn">
              {{'customer.field.invalidSsn' | translation}}
            </field-error>
          </mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex="calc(50% - 18px)">
        <div fxLayout="row" class="inner-row" fxLayoutGap="18px">
          <div fxFlex="calc(50% - 18px)">
            <mat-form-field class="input-full-width">
              <input matInput type="text" formControlName="ovt"
                     [placeholder]="['customer.type', form.value.type || 'DEFAULT', 'ovt'] | translation"/>

              <mat-hint>
                <field-error [form]="form" field="ovt" hasError="minlength">{{'customer.field.ovtShort' | translation}}
                </field-error>
                <field-error [form]="form" field="ovt" hasError="maxlength">{{'customer.field.ovtLong' | translation}}
                </field-error>
              </mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex="calc(50% - 18px)">
            <mat-form-field class="input-full-width">
              <input matInput type="text" formControlName="invoicingOperator"
                     [placeholder]="['customer.type', form.value.type || 'DEFAULT', 'invoicingOperator'] | translation"/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div fxLayout="row wrap" fxLayoutGap="18px" formGroupName="postalAddress">
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width">
        <input matInput type="text"
               formControlName="streetAddress"
               [placeholder]="'postalAddress.streetAddress' | translation"/>
      </mat-form-field>
    </div>
    <div fxFlex="calc(50% - 18px)">
      <div fxLayout="row" class="inner-row" fxLayoutGap="18px">
        <div fxFlex="calc(50% - 18px)">
          <mat-form-field class="input-full-width">
            <input matInput type="text"
                   formControlName="postalCode"
                   [placeholder]="'postalAddress.postalCode' | translation"/>
            <mat-hint>
              <field-error [form]="form.get('postalAddress')" field="postalCode" hasError="pattern">
                {{'common.field.postalCode' | translation}}
              </field-error>
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 18px)">
          <mat-form-field class="input-full-width">
            <input matInput type="text"
                   formControlName="city"
                   [placeholder]="'postalAddress.postalOffice' | translation"/>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="18px">
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width">
        <input matInput type="text"
               formControlName="email"
               [placeholder]="'emailAddress' | translation"/>
        <mat-hint>
          <field-error [form]="form" field="email" hasError="email">
            {{'common.field.emailInvalid' | translation}}
          </field-error>
        </mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width">
        <input matInput type="text"
               formControlName="phone"
               [placeholder]="'phone' | translation"/>
        <mat-hint>
          <field-error [form]="form" field="phone" hasError="minLength">
            {{'customer.field.phoneShort' | translation}}
          </field-error>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="18px">
    <div fxFlex="calc(50% - 18px)">
      <mat-form-field class="input-full-width">
        <input matInput type="text"
               formControlName="projectIdentifierPrefix"
               [placeholder]="'customer.projectIdentifierPrefix' | translation"/>
      </mat-form-field>
    </div>

    <div fxFlex="calc(50% - 18px)" *ngIf="showInvoicingOnly">
        <mat-checkbox class="input-field-checkbox" formControlName="invoicingOnly" labelPosition='after'>
          {{'customer.invoicingOnly' | translation}}
        </mat-checkbox>
    </div>
  </div>

  <div fxFlex *ngIf="invoicingProhibited && showInvoicingProhibited" class="align-left">
    <mat-icon color="accent" class="align-with-text">
      report_problem
    </mat-icon>
    <span class="title-normal">{{'customer.invoicingProhibited' | translation}}</span>
  </div>

</form>
