<form [formGroup]="attachmentForm" (ngSubmit)="save()">
  <allu-card>
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="200px">
          {{'attachment.title' | translation}}
        </div>
        <div fxFlex="200px" *ngIf="validForDecision" class="text-basic">
          <mat-slide-toggle formControlName="decisionAttachment">
            {{'attachment.decisionAttachment' | translation}}
          </mat-slide-toggle>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="50">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="type" class="input-full-width" required
                        [placeholder]="'attachment.type.title' | translation">
              <mat-option *ngFor="let type of attachmentTypes" [value]="type">{{['attachment.type', type] |
                translation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50">
          <mat-form-field class="input-full-width">
            <input matInput type="text" (click)="realFileInput.click()" required
                   formControlName="name" [placeholder]="'attachment.select' | translation">
            <mat-hint *ngIf="!validForDecision">
              {{'attachment.onlyPdfForDecision' | translation}}
            </mat-hint>
          </mat-form-field>

          <input #realFileInput class="real-file-input" type="file" fileSelect
                 (attachmentsSelected)="attachmentSelected($event)"/>
          <mat-error *ngIf="attachmentForm.get('size').hasError('max')">
            {{'attachment.error.maxSizeExceeded' | translation:{size: getMaxAttachmentSize()} }}
          </mat-error>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field class="input-full-width">
            <textarea matInput matTextareaAutosize formControlName="description"
                      [placeholder]="'attachment.description' | translation"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="18px">
        <div fxFlex>
          <button mat-raised-button type="submit" color="primary" [disabled]="!attachmentForm.valid">
            {{'common.button.save' | translation}}
          </button>
          <button mat-raised-button type="button" color="primary" (click)="cancel()">
            {{'common.button.cancel' | translation}}
          </button>
        </div>
      </div>
    </mat-card-content>
  </allu-card>
</form>
