<h1 class="content-header">{{'attachments' | translation | uppercase}}</h1>
<div fxLayout="row" fxLayoutAlign="center" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
  <div fxFlex>
    <div fileDrop (onFileDrop)="onFileDrop($event)" (onFileOver)="fileOverDropzone($event)"
         class="file-drop-zone" [ngClass]="{'file-over-drop-zone': hasFileOverDropzone}">
      <button mat-raised-button type="button" color="primary" (click)="addNewAttachment()">
        {{'attachment.addNew' | translation}}
        <mat-icon>file_upload</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <ul class="card-list">
    <li *ngFor="let attachment of editableAttachments; let i = index;">
      <attachment [attachment]="attachment"
                  [decisionAttachmentDisabled]="!applicationCanBeEdited"
                  (onCancel)="cancel(i)" (onSave)="save($event, i)"></attachment>
    </li>

    <li *ngFor="let attachment of commonAttachments; let i = index;">
      <mat-card class="slim-card">
        <div *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
          <div class="clickable" *ngIf="canEdit(attachment)"
               (click)="remove(attachment)"><i class="material-icons">clear</i></div>
        </div>
        <div *ngIf="attachment.id !== undefined">
          <i class="material-icons clickable" (click)="download(attachment)">file_download</i>
        </div>
        <mat-card-content class="card-content">
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="18px">
            <div fxFlex>
              <b>{{['attachment.type', attachment.type] | translation}}:</b> {{attachment.name}}
            </div>
            <div fxFlex>
              <span *ngIf="attachment.handlerName">{{attachment.handlerName}}</span>
              <span *ngIf="!attachment.handlerName">{{'attachment.unknownHandler' | translation}}</span>
            </div>
            <div fxFlex>
              {{attachment.uiCreationTime}}
            </div>
            <div fxFlex>
              {{attachment.description}}
            </div>
          </div>
          <div class="card-item-align-right">
            <mat-slide-toggle
              [ngModel]="attachment.decisionAttachment"
              (change)="decisionAttachmentToggle(attachment, $event)"
              labelPosition="before">
              {{'attachment.decisionAttachment' | translation}}
            </mat-slide-toggle>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
    <li>
      <default-attachments [selectedAttachments]="defaultAttachments"
                           [applicationType]="application.type"
                           [isAllowedToEdit]="applicationCanBeEdited"
                           attachmentType="DEFAULT"
                           (add)="save($event)" (remove)="remove($event)"></default-attachments>
    </li>
    <li>
      <default-attachments [selectedAttachments]="defaultImages"
                           [applicationType]="application.type"
                           [isAllowedToEdit]="applicationCanBeEdited"
                           attachmentType="DEFAULT_IMAGE"
                           (add)="save($event)" (remove)="remove($event)"></default-attachments>
    </li>
  </ul>
</div>
