@import '~@angular/material/theming';

@include mat-core();

$black-87-opacity: rgba(black, 0.87);
$black-50-opacity: rgba(black, 0.50);
$black-38-opacity: rgba(black, 0.38);
$black-28-opacity: rgba(black, 0.28);
$black-8-opacity: rgba(black, 0.08);
$white-87-opacity: rgba(white, 0.87);

$allu-blue: (
  50: #f1f7fc,
  100: #b3d3ee,
  200: #99bedc,
  300: #5090c5,
  400: #2682cf,
  500: #006cc6,
  600: #0064c0,
  700: #0059b9,
  800: #004fb1,
  900: #00307f,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$allu-orange: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffc61e,
  A200: #ffbe00,
  A400: #ffb31e,
  A700: #ffab11,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: black,
  )
);

$allu-success: (
  200: #b8e986,
  500: #57be3c
);

$allu-basic: (
  500: #9b9b9b
);

$allu-primary: mat-palette($allu-blue);
$allu-accent:  mat-palette($allu-orange);
$allu-warn:    mat-palette($mat-red);
$allu-theme-palette: mat-light-theme($allu-primary, $allu-accent, $allu-warn);

$allu-background: mat-color($allu-primary, 50);
$allu-text-black: #1f1f1f;
$allu-card-background: #ffffff;
$allu-card-shadow: #f5f5f5;
$allu-field-border-ok: rgba(22, 150, 136, 1);
$allu-field-text-ok: rgba(0, 0, 0, .87);
$allu-field-border-readonly: #8f8f8f;
$allu-chip-dark: #9b9b9b;
$allu-search-bar-background: #eeeded;

$allu-dark-disabled-text: rgba(black, 0.68);
$allu-dark-secondary-text: rgba(black, 0.68);

$allu-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $allu-dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $allu-dark-disabled-text,
  elevation:         black,
  hint-text:         $allu-dark-disabled-text,
  secondary-text:    $allu-dark-secondary-text,
  icon:              rgba(black, 0.68),
  icons:             rgba(black, 0.68),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$allu-theme: map-merge($allu-theme-palette, (foreground: $allu-light-theme-foreground));
