h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

h1.light, h2.light {
  font-weight: 400;
}

.text-highlighted {
  font-weight: bold;
}

.text-hint {
  font-size: 12px;
  line-height: 12px;
}

.info-text-large {
  font-size: 24px;
}

.text-basic {
  font-size: 14px;
  font-weight: 400;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
