@import '~@angular/material/theming';

@mixin button-toggle-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-button-toggle-checked {
    background: mat-color($primary, 500);

    & label {
      color: mat-contrast($primary, 500);
    }
  }

  .mat-button-toggle-disabled.mat-button-toggle-checked {
    background: mat-color($primary, 300);

    & label {
      color: mat-contrast($primary, 500);
    }
  }
}

.mat-icon-button.align-with-text {
  top: -4px;
}
