@import '~@angular/material/theming';

input.mat-input-element.year-input {
  width: 75px;
  text-align: center;
}

.mat-select-placeholder.mat-floating-placeholder {
  transform: translate3d(0,0,0) scale(.75);
}

.checkbox-matching-height .mat-checkbox-layout .mat-checkbox-label {
  line-height: 42px;
}


@mixin placeholder-theme($theme) {
  $primary: map-get($theme, primary);

  ::-webkit-input-placeholder {
    color: mat-color($primary, 300);
  }

  :-moz-placeholder { /* Firefox 18- */
    color: mat-color($primary, 300);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: mat-color($primary, 300);
  }

  :-ms-input-placeholder {
    color: mat-color($primary, 300);
  }

  .mat-input-placeholder,
  .mat-select-placeholder {
    color: mat-color($primary, 300);
  }

  input[disabled] + .mat-input-placeholder-wrapper .mat-input-placeholder,
  .mat-select-disabled .mat-select-placeholder {
    color: mat-color($primary, 200);
  }
}

@mixin checkbox-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
    background-color: mat-color($accent, 200);
  }

  .mat-checkbox-checked .mat-checkbox-frame {
    border-color: mat-color($accent, 200);
  }

  .mat-checkbox-label {
    color: $black-87-opacity;
  }

  .mat-checkbox-disabled .mat-checkbox-label {
    color: $black-38-opacity;
  }
}

.mat-autocomplete-panel {
  .mat-option:hover:not(.mat-option-disabled),
  .mat-option.mat-active:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background-color: mat-color($allu-primary, 200);
  }
}

td.mat-calendar-body-cell:hover {
  cursor: pointer;
}

.form-group .has-warning.ng-dirty:not(.ng-invalid) label.mat-input-placeholder,
.form-group .has-warning.ng-touched:not(.ng-invalid) label.mat-input-placeholder {
  color: mat-color($allu-accent, 700);
}

.form-group .has-warning:not(.ng-invalid) .mat-input-underline {
  border-color: mat-color($allu-accent, 700);
}

.form-group .has-warning:not(.ng-invalid) .mat-input-ripple {
  background-color: mat-color($allu-accent, 700);
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-input-container.input-no-underline .mat-input-underline {
  display: none;
}
