[fxLayout="row"], [fxLayout="row wrap"] {
  margin-bottom: 5px;
}

[fxLayout="row"].inner-row, [fxLayout="row"].slim,
[fxLayout="row wrap"].inner-row, [fxLayout="row wrap"].slim {
  margin-bottom: 0;
}

[fxLayout="row"].row-indent {
  margin-left: 0.75rem;
}

[fxFlex].loose {
  padding: 0 0.75rem;
}

[fxFlex] button.mat-raised-button:not(:first-of-type) {
  margin-left: 8px;
}

.row .col:first-of-type {
  padding-left: 0;
}

[fxflex].gap-single-9 {
  padding-right: 9px;
}

.centered-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
