@mixin allu-list-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-selection-list:focus,
  .mat-list-option:focus {
    outline-color: mat-color($primary, 100);
  }

  .mat-list.striped .mat-list-item:nth-child(odd) {
    background: mat-color($primary, 50);
  }

  .mat-action-list button.selected,
  .mat-action-list button.selected:focus {
    background-color: mat-color($primary, 200);
  }

  .mat-action-list button.selected:hover {
    background-color: mat-color($primary, 300);
  }
}
