@import 'colors';
@import 'marker-cluster';

input[type="radio"]:not(:checked).leaflet-control-layers-selector,
input[type="radio"]:checked.leaflet-control-layers-selector,
input[type="checkbox"]:not(:checked).leaflet-control-layers-selector,
input[type="checkbox"]:checked.leaflet-control-layers-selector {
  left: 0;
  opacity: 1;
  position: relative;
}

.map {
  height: 100%;
}

.leaflet-container .allu-map-popup a.leaflet-popup-close-button {
  top: 2px;
  right: 4px;
  color: mat-contrast($allu-primary, 500);
  font-size: 20px;
}

.allu-map-popup .leaflet-popup-content-wrapper {
  padding: 0 0 1px;

  .leaflet-popup-content {
    margin: 0;
  }
}

.allu-map-popup .leaflet-popup-content {
  h1.popup-header {
    font-size: 15px;
    line-height: 20px;
    color: mat-contrast($allu-primary, 500);
    background: mat-color($allu-primary, 500);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px 16px;
    font-weight: bold;
    margin: -1px;
  }

  .popup-content {
    margin: 13px 19px;
  }
}

img.leaflet-marker-icon {
  width: 15px !important;
  height: 20px !important;
  margin-left: -7px !important;
  margin-top: -20px !important;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: pointer;
}
/* Change cursor when over entire map */
.map.leaflet-container {
  cursor: default;
}

.leaflet-control-layers-group:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}



