.radio-group-item {
  padding: 5px 0;
}

.radio-group-item .mat-form-field-wrapper {
  margin: 0;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.vertical-radio-group .mat-radio-button {
  margin: 5px 0;
}

.horizontal-radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-radio-group .mat-radio-button {
  margin: 0 5px;
}

.mat-radio-button:not(:first-of-type) {
  margin: 5px 15px;
}

.radio-group-error {
  font-size: 75%;
}
