@import '~@angular/material/theming';

@mixin table-theme($theme) {
  $primary: map-get($theme, primary);

  th {
    color: mat-color($primary, 500);
  }

  .allu-table-header.mat-header-row .mat-header-cell {
    color: mat-color($primary, 500);
  }

  .row-details-link {
    color: mat-color($primary, 500);
  }
}

.allu-table-header .mat-sort-header-container {
    align-items: center;
}

.allu-table-header.mat-header-row .mat-header-cell {
  font-size: 15px;
  font-weight: 700;
}

.data-table {
  position: relative;
}

.data-table.data-table-with-paging .loading-shade {
  bottom: 56px;
}

.loading-shade {
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-details-link {
  font-weight: bold;
}

mat-cell.full-width > * {
  width: 100%;
}

mat-cell:first-of-type.cell-wide {
  padding-left: 8px;
}

mat-cell:last-of-type.cell-wide {
  padding-right: 8px;
}

mat-header-cell.mat-cell-1,
mat-cell.mat-cell-1 {
  flex: 1;
}

mat-header-cell.mat-cell-2,
mat-cell.mat-cell-2 {
  flex: 2;
}

mat-header-cell.mat-cell-3,
mat-cell.mat-cell-3 {
  flex: 3;
}

mat-header-cell.mat-cell-4,
mat-cell.mat-cell-4 {
  flex: 4;
}

.mat-cell-text-limit {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

