<div *ngIf="project$ | async as project">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="auto">
      <h2 class="allu-header">
        <span>{{project.customer?.name}}</span>
        <span *ngIf="project.startTime">{{project.startTime | date:'shortDate'}}</span>
        <span *ngIf="project.endTime"> - {{project.endTime | date:'shortDate'}}</span>
      </h2>
    </div>
    <div fxFlex="none">
      <mat-slide-toggle
        labelPosition="before"
        [checked]="showBasicInfo$ | async"
        (change)="toggleBasicInfo($event)">
        {{'project.showBasicInfo' | translation}}
      </mat-slide-toggle>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="18px"
       *ngIf="showBasicInfo$ | async"
       [@shrinkFadeInOut]="'visible'">
    <div fxFlex="calc(50% - 18px)">
      <project-info [project]="project"
                    [cityDistricts]="districts$ | async">
      </project-info>
    </div>
    <div fxFlex="calc(50% - 18px)">
      <div class="mapcontainer">
        <div class="map-overlay">
          <map-layer-select
            style="width: 220px"
            classNames="input-raised"
            targetType="Project"
            [selected]="selectedLayersIds$ | async"
            [layerTree]="layerTree$ | async"></map-layer-select>
        </div>

        <map [zoom]="true"
             [projectId]="project.id"
             [focusOnDrawn]="true"
             role="OTHER"
             [availableLayers]="availableLayers$ | async"
             [selectedLayers]="selectedLayers$ | async">Loading map</map>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <allu-card>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="0 0 50%" class="preview-card">
              <h2 class="preview-header">
                {{'history.title' | translation}}
              </h2>
              <history-preview
                [changes]="changes$ | async"
                [historyLink]="['/projects', project.id, 'history']">
              </history-preview>
            </div>
            <div fxFlex="0 0 50%" class="preview-card">
              <h2 class="preview-header">
                {{'comment.title' | translation}}
              </h2>
              <comment-preview-list
                [comments]="comments$ | async"
                [commentLink]="['/projects', project.id, 'comments']">
              </comment-preview-list>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <project-applications [projectId]="project.id"></project-applications>
</div>
