<div class="main-content">
  <div class="row">
    <div class="col s12 loose">
      <button mat-raised-button type="button" color="primary" (click)="newUser()">Lisää uusi rajapintakäyttäjä</button>
    </div>
    <div class=" col s12">
      <table class="bordered responsive-table">
        <thead>
        <tr>
          <th>{{'externalUser.username' | translation}}</th>
          <th>{{'externalUser.name' | translation}}</th>
          <th>{{'externalUser.email' | translation}}</th>
          <th>{{'externalUser.lastLogin' | translation}}</th>
          <th>{{'externalUser.roles' | translation}}</th>
          <th>{{'externalUser.expirationTime' | translation}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | async" class="clickable row-highlight"
            (click)="onSelect(user)">
          <td>{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.uiLastLogin}}</td>
          <td>
                        <span *ngFor="let role of user.uiAssignedRoles; let last=last">
                            {{['externalUser.role', role] | translation | commaSeparated: last}}
                        </span>
          <td>{{user.uiExpirationTime}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
