<div class="main-content">
  <div class="row">
    <div class="col m6">
      <form [formGroup]="userForm" (ngSubmit)="save()">
        <mat-card>
          <mat-card-title>Rajapintakäyttäjän tiedot</mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="col s12">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="username" placeholder="Käyttäjänimi*"/>
                  <mat-hint>
                    <field-error [form]="userForm" field="username" hasError="required">{{'common.field.usernameMissing'
                      | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s12">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="name" placeholder="Nimi*"/>
                  <mat-hint>
                    <field-error [form]="userForm" field="name" hasError="required">{{'common.field.nameMissing' |
                      translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s12">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="emailAddress" placeholder="Sähköpostiosoite"/>
                  <mat-hint>
                    <field-error [form]="userForm" field="emailAddress" hasError="pattern">{{'common.field.emailInvalid'
                      | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s12">
                <mat-checkbox formControlName="active" class="checkbox-matching-height">Aktiivinen</mat-checkbox>
              </div>
              <div class="col s12">
                <mat-form-field class="input-full-width customer-name-search">
                  <input matInput type="text" placeholder="Lisää asiakas"
                         formControlName="customerName" [matAutocomplete]="nameSearch"/>
                  <mat-autocomplete #nameSearch="matAutocomplete">
                    <mat-option *ngFor="let customer of matchingNameCustomers | async"
                                (onSelectionChange)="addCustomer(customer.id)">
                      {{ customer.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-list dense>
                  <mat-list-item *ngFor="let customer of connectedCustomers | async">
                    <span class="customer-name">{{customer.name}}</span>
                    <button type="button" mat-icon-button matSuffix (click)="removeCustomer(customer.id)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card-content>
          <mat-card-subtitle>
            <span>Asiakasavaimeen vaikuttavat tiedot</span>
            <mat-icon matTooltip="{{'externalUser.tooltip.tokenChanges' | translation}}" color="primary">info_outline
            </mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col s12">
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="assignedRoles" [multiple]="true" placeholder="Roolit"
                              class="input-full-width">
                    <mat-option *ngFor="let role of roles" [value]="role">
                      {{['externalUser.role', role] | translation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col s12">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="expirationTime" placeholder="Voimassaolo päättyy*"
                         [matDatepicker]="expirationTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="expirationTimePicker"></mat-datepicker-toggle>
                  <mat-datepicker #expirationTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="userForm" field="expirationTime" hasError="required">
                      {{'externalUser.field.expirationTimeMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s12">
                <mat-form-field class="input-full-width">
                  <textarea matInput type="text" formControlName="token" placeholder="Asiakasavain"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col m12">
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || submitted">
                  Tallenna
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
