<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="auto">
    <h1 mat-dialog-title *ngIf="!readonly">{{'informationRequest.acceptance.title' | translation}}</h1>
    <h1 mat-dialog-title *ngIf="readonly">{{'informationRequest.acceptance.readonlyTitle' | translation}}</h1>
  </div>
  <div fxFlex="none" *ngIf="data.informationRequest">
    <mat-slide-toggle
      class="text-primary"
      labelPosition="before"
      [(ngModel)]="showRequest">
      {{'informationRequest.acceptance.showRequestedInfo' | translation}}
    </mat-slide-toggle>
  </div>
</div>

<div *ngIf="data.informationRequest && showRequest" [@shrinkFadeInOut]="'visible'" class="info-bordered info-section">
  <information-request-summary [request]="data.informationRequest"></information-request-summary>
</div>

<div fxLayout="row" class="acceptance-info-header">
  <h2 mat-dialog-title fxFlex>{{'informationRequest.acceptance.existingInfo' | translation}}</h2>
  <h2 mat-dialog-title fxFlex>{{'informationRequest.acceptance.providedInfo' | translation}}</h2>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="acceptance-content">
    <div *ngFor="let field of updatedFields">
      <div [ngSwitch]="field">
        <kind-acceptance
          *ngSwitchCase="'CLIENT_APPLICATION_KIND'"
          [parentForm]="form"
          [applicationType]="oldInfo.type"
          [oldValues]="oldInfo?.kindsWithSpecifiers"
          [newValues]="newInfo?.clientApplicationData.clientApplicationKind"
          [readonly]="readonly">
        </kind-acceptance>

        <div *ngSwitchCase="'APPLICATION_KIND'">
          <!-- Placeholder -->
        </div>

        <customer-with-contacts-acceptance
          *ngSwitchCase="'CUSTOMER'"
          [parentForm]="form"
          [oldCustomerWithContacts]="oldInfo?.applicant"
          [newCustomerWithContacts]="newInfo?.clientApplicationData?.customer"
          [readonly]="readonly"
          [fieldKey]="field"
          [canBeInvoiceRecipient]="applicationTypeBillable"></customer-with-contacts-acceptance>

        <customer-with-contacts-acceptance
          *ngSwitchCase="'REPRESENTATIVE'"
          [parentForm]="form"
          [oldCustomerWithContacts]="oldInfo?.representative"
          [newCustomerWithContacts]="newInfo?.clientApplicationData?.representative"
          [readonly]="readonly"
          [fieldKey]="field"></customer-with-contacts-acceptance>

        <customer-with-contacts-acceptance
          *ngSwitchCase="'PROPERTY_DEVELOPER'"
          [parentForm]="form"
          [oldCustomerWithContacts]="oldInfo?.propertyDeveloper"
          [newCustomerWithContacts]="newInfo?.clientApplicationData?.propertyDeveloper"
          [readonly]="readonly"
          [fieldKey]="field"></customer-with-contacts-acceptance>

        <customer-with-contacts-acceptance
          *ngSwitchCase="'CONTRACTOR'"
          [parentForm]="form"
          [oldCustomerWithContacts]="oldInfo?.contractor"
          [newCustomerWithContacts]="newInfo?.clientApplicationData?.contractor"
          [readonly]="readonly"
          [fieldKey]="field"></customer-with-contacts-acceptance>

        <ng-container *ngSwitchCase="'INVOICING_CUSTOMER'">
          <customer-acceptance
            *ngIf="applicationTypeBillable && (useCustomerForInvoicing$ | async) === undefined"
            [parentForm]="form"
            [newCustomer]="newInfo?.clientApplicationData?.invoicingCustomer"
            [readonly]="readonly"
            [fieldKey]="field"></customer-acceptance>
        </ng-container>

        <attachments-acceptance
          *ngSwitchCase="'ATTACHMENT'"
          [parentForm]="form"
          [attachments]="oldInfo?.attachmentList"></attachments-acceptance>

        <div *ngSwitchDefault>
          <!-- Placeholder -->
        </div>
      </div>
    </div>
    <div *ngIf="hasLocationChanges">
      <locations-acceptance
        [parentForm]="form"
        [oldLocations]="oldInfo?.locations"
        [newLocations]="newInfo?.locations"></locations-acceptance>
    </div>
    <div>
      <other-acceptance
        [parentForm]="form"
        [oldInfo]="oldInfo"
        [newInfo]="newInfo"
        [fieldKeys]="updatedFields"
      ></other-acceptance>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <ng-container *ngIf="readonly; else normalActions">
      <button type="button" mat-raised-button color="primary" (click)="cancel()">
        {{'informationRequest.acceptance.close' | translation | uppercase}}
      </button>
      <button *ngIf="oldInfo.status==='PENDING'" type="button" mat-raised-button color="primary" (click)="moveToHandling()">
        {{'application.button.toHandling' | translation | uppercase}}
      </button>
    </ng-container>
    <ng-template #normalActions>
      <button  type="submit" mat-raised-button color="primary" [disabled]="form.status !== 'VALID'">
        {{'common.button.save' | translation | uppercase}}
      </button>

      <button type="button" mat-raised-button color="primary" (click)="cancel()">
        {{'common.button.cancel' | translation | uppercase}}
      </button>
    </ng-template>
  </div>
</form>
