:host {
  margin-top: 30px;
}

.bottom-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  min-height: 60px;
  text-align: center;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0;
  z-index: 9999;
}
