<form [formGroup]="chargeBasisEntryForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{'chargeBasis.newEntry' | translation}}</h2>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayoutWrap>
      <div fxFlex="50">
        <mat-form-field class="input-full-width">
          <mat-select [placeholder]="'chargeBasis.type.title' | translation" class="input-full-width"
                      formControlName="type" required>
            <mat-option *ngFor="let type of chargeBasisTypes" [value]="type">
              {{['chargeBasis.type', type, 'title'] | translation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <charge-basis-discount [form]="chargeBasisEntryForm"
                           *ngIf="chargeBasisEntryForm.value.type === 'DISCOUNT'"></charge-basis-discount>
    <charge-basis-negligence-fee [form]="chargeBasisEntryForm"
                                 *ngIf="chargeBasisEntryForm.value.type === 'NEGLIGENCE_FEE'"></charge-basis-negligence-fee>
    <charge-basis-additional-fee [form]="chargeBasisEntryForm"
                                 *ngIf="chargeBasisEntryForm.value.type === 'ADDITIONAL_FEE'"></charge-basis-additional-fee>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!chargeBasisEntryForm.valid">
      {{'common.button.save' | translation}}
    </button>
    <button type="button" mat-raised-button color="primary" (click)="cancel()">
      {{'common.button.cancel' | translation}}
    </button>
  </div>
</form>
