<form *ngIf="showPricingInfo" [formGroup]="form">
  <allu-card>
    <mat-card-title>
      {{'application.pricingBasis' | translation}}
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" *ngIf="natureSelectable">
        <div fxFlex="0 0 25%">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="nature"
                        placeholder="{{'application.event.nature.placeholder' | translation}}"
                        [required]="required(form.get('nature'))"
                        class="input-full-width">
              <mat-option *ngFor="let nature of eventNatures" [value]="nature">
                {{['application.event.nature', nature] | translation}}
              </mat-option>
            </mat-select>
            <field-error [form]="form" field="nature" hasError="required">
              {{'application.event.field.natureMissing' | translation}}
            </field-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" *ngIf="surfaceHardnessSelectable">
        <div fxFlex>
          <mat-button-toggle-group formControlName="surfaceHardness" required>
            <mat-button-toggle value="SOFT">
              {{'application.event.surface.SOFT' | translation}}
            </mat-button-toggle>
            <mat-button-toggle value="HARD">
              {{'application.event.surface.HARD' | translation}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div fxLayout="row" *ngIf="ecoCompassSelectable">
        <div fxFlex>
          <mat-checkbox class="input-field-checkbox" formControlName="ecoCompass">
            {{'application.pricing.ecoCompass' | translation}}
          </mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" *ngIf="distanceFromWallSelectable">
        <div fxFlex="0 0 auto">
          <mat-slide-toggle formControlName="billableSalesArea">
            {{'application.pricing.distanceFromWallOver80' | translation}}
          </mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
  </allu-card>
</form>
