<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <div class="row">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
              [readonly]="readonly" [showPropertyDeveloper]="true" [contactRequired]="true"></customer>
  </div>

  <div class="row" *ngIf="hasPropertyDeveloper">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.propertyDeveloper"
              [readonly]="readonly"></customer>
  </div>

  <div class="row">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.contractor"
              [readonly]="readonly" [showRepresentative]="true" [contactRequired]="true"></customer>
  </div>

  <div class="row" *ngIf="hasRepresentative">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.representative"
              [readonly]="readonly"></customer>
  </div>

  <div class="row">
    <div class="col m12">
      <mat-card>
        <mat-card-title>Johtoselvityksen tiedot</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize formControlName="workDescription"
                          placeholder="Työn kuvaus"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row form-group">
            <div formGroupName="reportTimes">
              <div class="col m3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" placeholder="Arvioitu aloitus*"
                         [matDatepicker]="startTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm" field="reportTimes" hasError="startBeforeEnd">
                      {{'application.cableReport.field.startBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col m3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime" placeholder="Arvioitu lopetus*"
                         [matDatepicker]="endTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="endTimePicker" [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col m3">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="validityTime" placeholder="Voimassaolo"
                       [matDatepicker]="validityTimePicker"/>
                <mat-datepicker-toggle matSuffix [for]="validityTimePicker"
                                       [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #validityTimePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row form-group">
            <div class="col m2">
              <mat-checkbox formControlName="cableSurveyRequired">Johtokartoitettava</mat-checkbox>
            </div>
            <div class="col m2">
              <mat-checkbox formControlName="mapUpdated">Kartta päivitetty</mat-checkbox>
            </div>
            <div class="col m2">
              <mat-checkbox formControlName="propertyConnectivity">Tontti- / Kiinteistöliitos</mat-checkbox>
            </div>
          </div>
          <div class="row form-group">
            <div class="col m2">
              <mat-checkbox formControlName="constructionWork">Rakentaminen</mat-checkbox>
            </div>
            <div class="col m2">
              <mat-checkbox formControlName="maintenanceWork">Kunnossapito</mat-checkbox>
            </div>
            <div class="col m2">
              <mat-checkbox formControlName="emergencyWork">Hätätyö</mat-checkbox>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row" *ngIf="showCableInfo">
    <div class="col m12">
      <cable-info [parentForm]="applicationForm" [cableReport]="application.extension"
                  [readonly]="readonly"></cable-info>
    </div>
  </div>


  <div class="row" *ngIf="readonly">
    <div class="col m12">
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
