@import '~@angular/material/theming';

@mixin input-box-theme($theme, $errorBackground) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .input-box-content {
    background: mat-contrast($primary, 500);
  }

  .input-box-focused > .input-box-content {
    border: 1px solid mat-color($allu-primary, 200);
  }

  .input-box-content > input,
  .input-box-content > select,
  .input-box-content > mat-select,
  .input-box-content > .select-wrapper input.select-dropdown,
  .input-box-content > mat-select .mat-select-value {
    background: mat-contrast($primary, 500);
    color: mat-color($primary, 300);

    &.ng-touched.ng-invalid,
    &.ng-touched.ng-invalid::placeholder {
      border-color: mat-color($warn, 300);
      color: mat-color($warn, 300);
    }
  }

  .input-box-content > .select-wrapper span.caret {
    color: mat-color($primary, 300);
  }

  .input-box-error {
    background: $errorBackground;
  }
}
