<div class="main-content">
  <div class="search-bar">
    <h1>HAKU</h1>
    <form [formGroup]="queryForm" (ngSubmit)="search()">
      <div class="row">
        <div class="col m3">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="ownerName" placeholder="Hankkeen omistaja"/>
          </mat-form-field>
        </div>
        <div class="col m2">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="identifier" placeholder="Hankkeen tunnus"/>
          </mat-form-field>
        </div>
        <div class="col m2">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="districts" [multiple]="true" placeholder="Kaupunginosa"
                        class="input-full-width">
              <mat-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m1">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="startTime" placeholder="Alkupvm"
                   [matDatepicker]="startTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #startTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col m1">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="endTime" placeholder="Loppupvm"
                   [matDatepicker]="endTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #endTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col m3">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="creator" placeholder="Hankkeen lisääjä"/>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col m3">
          <mat-checkbox formControlName="onlyActive">Vain aktiiviset</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col m12 s12">
          <button mat-raised-button type="submit" color="primary">HAE</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class=" col s12">
      <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById">
        <ng-container matColumnDef="identifier">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.id' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a class="row-details-link" [routerLink]="['/projects', row.id]">
              {{row.identifier}}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ownerName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.ownerName' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.customer.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef mat-sort-header disabled>{{'project.state' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{['project.active', row.active] | translation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cityDistricts">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.cityDistricts' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{districtNames(row.cityDistricts) | async | commaSeparated}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.startTime' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.startTime | date:'shortDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.endTime' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.endTime| date:'shortDate'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 class="row-highlight"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [length]="dataSource.pageSnapshot.totalElements"
                     [pageIndex]="dataSource.pageSnapshot.pageNumber"
                     [pageSize]="25"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
