<div fxLayout="row" *ngIf="notificationType$ | async as notificationType">
  <div fxFlex="50%" class="gap-single-9">
    <application-notification [type]="notificationType"></application-notification>
  </div>
</div>

<application-type typeChangeDisabled="true"
                  [showDraftSelection]="showDraftSelection"
                  [readonly]="readonly"
                  [receivedTime]="form.getRawValue().receivedTime"
                  (receivedTimeChange)="updateReceivedTime($event)"></application-type>

<div [ngSwitch]="type">
  <event *ngSwitchCase="'EVENT'" [applicationForm]="form"></event>
  <short-term-rental *ngSwitchCase="'SHORT_TERM_RENTAL'" [applicationForm]="form"></short-term-rental>
  <cable-report *ngSwitchCase="'CABLE_REPORT'" [applicationForm]="form"></cable-report>
  <excavation-announcement *ngSwitchCase="'EXCAVATION_ANNOUNCEMENT'" [applicationForm]="form"></excavation-announcement>
  <note *ngSwitchCase="'NOTE'"  [applicationForm]="form"></note>
  <traffic-arrangement *ngSwitchCase="'TEMPORARY_TRAFFIC_ARRANGEMENTS'" [applicationForm]="form"></traffic-arrangement>
  <placement-contract *ngSwitchCase="'PLACEMENT_CONTRACT'" [applicationForm]="form"></placement-contract>
  <area-rental *ngSwitchCase="'AREA_RENTAL'" [applicationForm]="form"></area-rental>
</div>
