<bottom-bar fxLayout="row" fxFlexAlign="space-between">
  <div fxFlex fxFlexAlign="center" *ngIf="readonly">
    <div>
      <ng-container *availableTo="MODIFY_ROLES">
        <button *ngIf="showReplace" mat-raised-button type="button" color="primary" (click)="replace()">
          {{'application.button.replace' | translation | uppercase}}
        </button>
      </ng-container>
      <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
        <button *ngIf="showEdit" mat-raised-button type="button" color="primary"
                [routerLink]="['/applications', applicationId, 'edit']">
          {{'common.button.edit' | translation | uppercase}}
        </button>
        <button mat-raised-button type="button" color="primary" (click)="copyApplicationAsNew()">
          {{'application.button.copy' | translation | uppercase}}
        </button>
        <button *ngIf="showDelete" mat-raised-button type="button" color="primary" (click)="delete()">
          {{'common.button.remove' | translation | uppercase}}
        </button>
      </ng-container>
    </div>
  </div>
  <div fxFlex></div>
  <div fxFlex fxFlexAlign="center">
    <div *ngIf="!readonly">
      <button type="submit" mat-raised-button color="primary" [disabled]="submitPending || !valid">
        {{'common.button.save' | translation | uppercase}}
      </button>
    </div>
    <div *ngIf="readonly">
      <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
        <button *ngIf="showCancel" mat-raised-button type="button" color="primary" (click)="cancel()">
          {{'common.button.cancel' | translation | uppercase}}
        </button>
        <button *ngIf="showConvertToApplication" mat-raised-button type="button" color="primary" (click)="convertToApplication()">
          {{'application.button.convertToApplication' | translation | uppercase}}
        </button>
        <button *ngIf="showHandling" mat-raised-button type="button" color="primary" (click)="moveToHandling()">
          {{'application.button.toHandling' | translation | uppercase}}
        </button>
      </ng-container>
      <button *ngIf="showDecision" [disabled]="decisionDisabled" mat-raised-button type="button" color="primary"
              (click)="toDecisionmaking()">
        {{'application.button.toDecision' | translation | uppercase}}
      </button>
    </div>
  </div>
</bottom-bar>
