<nav class="nav-bar-secondary">
  <a [routerLink]="['user-list']" routerLinkActive="active">KÄYTTÄJÄT</a>
  <a [routerLink]="['external-users']" routerLinkActive="active">{{'externalUser.nav' | translation}}</a>
  <a [routerLink]="['default-attachments']" routerLinkActive="active">VAKIOLIITTEET</a>
  <a [routerLink]="['default-images']" routerLinkActive="active">TYYPPIKUVAT</a>
  <a [routerLink]="['default-recipients']" routerLinkActive="active">PÄÄTÖKSEN VASTAANOTTAJAT</a>
</nav>
