<form [formGroup]="form" novalidate>
  <div fxLayout="row" fxLayoutWrap fxLayoutGap="18px">
    <div fxFlex *ngIf="billable">
      <mat-card>
        <mat-card-title>
          <div fxLayout="row" fxFlexAlign="space-between">
            <div fxFlex>
              {{'invoice.info.address' | translation}}
              <button mat-icon-button type="button" class="align-with-text" *ngIf="customerCanBeEdited()"
                      (click)="editCustomer()">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </div>
            <div fxFlex *ngIf="invoicingProhibited" class="align-right">
              <mat-icon color="accent" class="align-with-text">
                report_problem
              </mat-icon>
              <span class="title-normal">{{'customer.invoicingProhibited' | translation}}</span>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content>
          <customer-info [form]="recipientForm" [allowSearch]="true" [showInvoicingInfo]="true" [excludeInvoicingOnlyCustomers]="false"
                         (customerChange)="invoiceRecipientChange($event)"></customer-info>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card>
        <mat-card-title>
          {{'invoice.info.depositAndOthers' | translation}}
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="row" fxLayoutWrap>
            <div fxFlex class="height-fix-bottom">
              <mat-checkbox formControlName="notBillable">{{'invoice.info.notBillable' | translation}}</mat-checkbox>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex *ngIf="!billable">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="notBillableReason" required
                       [placeholder]="'invoice.info.notBillableReason' | translation"/>
                <mat-hint>
                  <field-error [form]="form" field="notBillableReason" hasError="required">
                    {{'invoice.field.notBillableReasonMissing' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap>
            <div fxFlex class="height-fix-bottom">
              <mat-checkbox formControlName="skipPriceCalculation">{{'invoice.info.skipPriceCalculation' | translation}}</mat-checkbox>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap fxLayoutGap="18px">
            <div fxFlex *ngIf="billable">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="customerReference"
                       [placeholder]="'invoice.info.customerReference' | translation"/>
              </mat-form-field>
            </div>
            <div fxFlex *ngIf="billable">
              <mat-form-field class="input-full-width">
                <input matInput formControlName="invoicingDate" required
                       [placeholder]="'invoice.info.invoicingDate' | translation"
                       [matDatepicker]="invoicingDatePicker">
                <mat-datepicker-toggle matSuffix [for]="invoicingDatePicker"
                                       [disabled]="form.disabled"></mat-datepicker-toggle>
                <mat-datepicker #invoicingDatePicker></mat-datepicker>
                <mat-hint>
                  <field-error [form]="form" field="invoicingDate" hasError="required">
                    {{'invoice.field.invoicingDateMissing' | translation}}
                  </field-error>
                </mat-hint>
                </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="depositAmount"
                       [placeholder]="'deposit.amount' | translation"/>
                <span matSuffix>€</span>
              </mat-form-field>
            </div>

          </div>
          <div fxLayout="row" fxLayoutWrap>
            <div fxFlex="100">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize formControlName="depositReason"
                          [placeholder]="'deposit.reason' | translation"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutWrap>
            <div>
              <button type="button" mat-raised-button color="primary"
                      *ngIf="canChangeDepositStatus" (click)="nextDepositStatus()">
                {{['deposit.changeStatus', form.getRawValue().depositStatus] | translation}}
              </button>
              <button type="button" mat-raised-button color="primary" (click)="editDeposit()">
                <span *ngIf="!hasDeposit">{{'deposit.add' | translation}}</span>
                <span *ngIf="hasDeposit">{{'deposit.edit' | translation}}</span>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
