<div class="section-container">
  <div class="section-content">
    <h2 mat-dialog-title>
      {{'informationRequest.field.APPLICATION_KIND' | translation}}
    </h2>
  </div>
  <div class="section-content">
    <h2 mat-dialog-title>
      <ng-container *ngIf="multipleKinds; else singleKind">
        {{'application.kind.suggestion.multiple' | translation}}
      </ng-container>
      <ng-template #singleKind>
        {{'application.kind.suggestion.single' | translation}}
      </ng-template>
    </h2>
  </div>
</div>

<div class="section-container">
  <div class="section-content">
    <form [formGroup]="form">
      <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center" class="slim" *ngIf="!readonly">
        <div fxFlex="0 1 50%" *ngIf="multipleKinds">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="kinds" multiple required
                        [placeholder]="'application.kind.placeholder.multiple' | translation"
                        class="input-full-width">
              <mat-option *ngFor="let kind of availableKinds" [value]="kind">
                {{['application.kind', kind] | translation}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('kinds').hasError('required')">
              {{'application.field.kindMissing' | translation}}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="0 1 50%" *ngIf="!multipleKinds">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="kinds" required
                        [placeholder]="'application.kind.placeholder.single' | translation"
                        class="input-full-width">
              <mat-option *ngFor="let kind of availableKinds" [value]="kind">
                {{['application.kind', kind] | translation}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('kinds').hasError('required')">
              {{'application.field.kindMissing' | translation}}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="0 1 50%" *ngIf="showSpecifierSelection()">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="specifiers" multiple
                        [placeholder]="'application.specifier.placeholder' | translation"
                        class="input-full-width">
              <mat-optgroup *ngFor="let kind of availableKindsWithSpecifiers | keys"
                            [label]="['application.kind', kind] | translation">
                <mat-option *ngFor="let specifier of availableKindsWithSpecifiers[kind]"
                            [value]="kind + ':' + specifier">
                  {{['application.specifier', specifier] | translation}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="section-content section-container">
    <div class="section-content-centered">{{newValues}}</div>
  </div>
</div>
