@import '../../../assets/colors';

mat-card {
  margin: 0 10px 10px;
}

.work-queue-controls {
  background-color: mat-color($allu-primary, 50);

  .in-front {
    z-index: 100;
  }
}

.work-queue-action-buttons {
  padding: 0 0.75rem;
  position: relative;
  top: 55px;
}

.work-queue-action-buttons button {
  margin: 2px 0;
}
