$baseHeight: 11.4rem;

.col.contact-card {
  padding: 0 9px 5px 9px;
}

.col.contact-card:not(:first-of-type) {
  padding-top: 5px;
}

.contact-card:first-of-type allu-card {
  min-height: 17rem;
}

@mixin contact-card-height($typeHeight, $additionalHeight) {
  $cardHeight: $baseHeight + $typeHeight + $additionalHeight;
  .col.contact-card:first-of-type:not(last-of-type) {
    padding-bottom: $cardHeight;
  }
}

@include contact-card-height(4rem, 0);

:host-context(.customer-person) {
  @include contact-card-height(0, 0);
}

:host-context(.customer-additional-toggle) {
  @include contact-card-height(4rem, 2rem);
}

:host-context(.customer-person.customer-additional-toggle) {
  @include contact-card-height(0, 2rem);
}

.col.contact-card:nth-of-type(even) {
  padding-left: 0;
}

/* Makes last cards (2 cards per row) to have no bottom padding */
.col.contact-card:last-of-type:not(:first-of-type),
.col.contact-card:nth-last-of-type(2):nth-of-type(even) {
  padding-bottom: 0;
}

/* Last card in the row should not have right padding */
.col.contact-card:nth-of-type(odd) {
  padding-right: 0px;
}
