<div [formGroup]="form">
  <div formArrayName="contacts">
    <div *ngFor="let contact of contacts.controls; let index=index" class="col m6 contact-card">
      <div [formGroupName]="index" class="no-border">
        <mat-card>
          <mat-card-title>
            {{['contact.role', customerRoleType, 'title'] | translation}}
            <button mat-icon-button type="button" class="align-with-text"
                    *ngIf="canBeEdited(contact.value)"
                    (click)="edit(contact.value.id, index)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-icon-button type="button" class="align-with-text"
                    *ngIf="canBeRemoved()"
                    (click)="remove(index)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="50%">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="name"
                         placeholder="Yhteyshenkilön nimi*"
                         [matAutocomplete]="nameSearch" (keyup)="resetContactIfExisting(index)"/>
                  <mat-autocomplete #nameSearch="matAutocomplete">
                    <mat-option *ngFor="let contact of matchingContacts | async"
                                [value]="contact.name" (click)="contactSelected(contact, index)">
                      {{ contact.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-hint>
                    <field-error [form]="contact" field="name" hasError="required">{{'contact.field.nameMissing' |
                      translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px" fxLayoutWrap>
              <div fxFlex="calc(50% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="streetAddress" placeholder="Katuosoite"/>
                </mat-form-field>
              </div>
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="postalCode" placeholder="Postinumero"/>
                  <mat-hint>
                    <field-error [form]="contact" field="postalCode" hasError="pattern">{{'common.field.postalCode' |
                      translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="city" placeholder="Toimipaikka"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px" fxLayoutWrap>
              <div fxFlex="calc(50% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="email" placeholder="Sähköpostiosoite"/>
                  <mat-hint>
                    <field-error [form]="contact" field="email" hasError="pattern">{{'common.field.emailInvalid' |
                      translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="calc(50% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="phone" placeholder="Puhelin"/>
                  <mat-hint>
                    <field-error [form]="contact" field="phone" hasError="minlength">{{'contact.field.phoneShort' |
                      translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px" fxLayoutWrap *ngIf="showOrderer" id="orderer">
              <div fxFlex>
                <mat-radio-button name="orderer" [checked]="isOrderer(index)" [disabled]="readonly"
                                  (change)="selectOrderer(index)">
                  Hakemuksen tilaaja
                </mat-radio-button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
