<div class="page-header">
  <project-header [project]="project$ | async"
                  [applications]="applications$ | async"
                  [relatedProjects]="relatedProjectCount$ | async"
                  [parent]="parent$ | async">
  </project-header>
</div>
<div fxLayout="row">
  <div fxFlex="0 1 auto">
    <sidebar [items]="sidebarItems"></sidebar>
  </div>
  <div fxFlex="90">
    <router-outlet></router-outlet>
  </div>
</div>
