<form [formGroup]="form" (ngSubmit)="confirm()">
  <h2 mat-dialog-title fxLayout="row" fxLayoutGap="4px">
    <div fxFlex="none">{{['supervision.task.resolution', data.resolutionType] | translation}}</div>
    <div fxFlex="none">{{['supervision.task.type', data.taskType] | translation | lowercase}}</div>
  </h2>
  <mat-dialog-content>
    <mat-form-field class="input-full-width">
            <textarea matInput matTextareaAutosize formControlName="result" required
                      [placeholder]="'supervision.task.result' | translation"></textarea>
      <mat-error *ngIf="form.get('result').hasError('required')">
        {{'supervision.task.field.resultMissing' | translation}}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showNewSupervisionDate" class="form-field-50">
      <input matInput formControlName="newSupervisionDate" required
             [placeholder]="'supervision.task.newSupervisionDate' | translation"
             [matDatepicker]="newSupervisionDatePicker">
      <mat-datepicker-toggle matSuffix [for]="newSupervisionDatePicker"
                             [disabled]="form.disabled"></mat-datepicker-toggle>
      <mat-datepicker #newSupervisionDatePicker></mat-datepicker>
      <mat-error *ngIf="form.get('newSupervisionDate').hasError('required')">
        {{'supervision.task.field.newSupervisionDateMissing' | translation}}
      </mat-error>
      <mat-error *ngIf="form.get('newSupervisionDate').hasError('inThePast')">
        {{'supervision.task.field.newSupervisionDateInThePast' | translation}}
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showDateReporting" class="form-field-50">
      <input matInput formControlName="reportedDate" required
             [placeholder]="['dateReporting.reportedInfo', reportedDateType] | translation"
             [matDatepicker]="reportedDatePicker"
             [max]="maxReportedDate">
      <mat-datepicker-toggle matSuffix [for]="reportedDatePicker"
                             [disabled]="form.disabled"></mat-datepicker-toggle>
      <mat-datepicker #reportedDatePicker></mat-datepicker>
      <mat-hint *ngIf="data.reportedDate">
        {{'dateReporting.customerReportedDate' | translation}}
      </mat-hint>
      <mat-error *ngIf="form.get('reportedDate').hasError('required')">
        {{'dateReporting.field.reportedDateMissing' | translation}}
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" *ngIf="showRequiredTasks" class="form-group">
      <div fxFlex>
        <mat-checkbox class="input-field-checkbox" formControlName="compactionAndBearingCapacityMeasurement">
          {{'application.excavationAnnouncement.compactionAndBearingCapacityMeasurement' | translation}}
        </mat-checkbox>
      </div>
      <div fxFlex>
        <mat-checkbox class="input-field-checkbox" formControlName="qualityAssuranceTest">
          {{'application.excavationAnnouncement.qualityAssuranceTest' | translation}}
        </mat-checkbox>
      </div>
    </div>

    <div *ngIf="showDateReporting" fxLayout="row" fxLayoutGap="4px">
      <div fxFlex="none">{{'supervision.task.needsInvoicingChanges' | translation}}</div>
      <a fxFlex="none" (click)="cancel()"
         [routerLink]="['/applications', application.id, 'summary', 'invoicing']">
        {{'supervision.task.toInvoicing' | translation}}
      </a>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <ng-container *ngIf="showToDecisionMaking; else approve">
        <button *ngIf="showToDecisionMaking" mat-raised-button type="button" color="primary"
                [disabled]="!form.valid" (click)="toDecisionMaking()">
          {{'application.button.toDecisionMaking' | translation | uppercase}}
        </button>
      </ng-container>
      <ng-template #approve>
        <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">
          {{'common.button.save' | translation | uppercase}}
        </button>
      </ng-template>
      <button mat-raised-button type="button" color="primary" (click)="cancel()">
        {{'common.button.cancel' | translation}}
      </button>
    </div>
  </mat-dialog-actions>
</form>
