<nav fxLayout="row" fxLayoutWrap fxLayoutAlign="start stretch">
  <a [routerLink]="['/home']" routerLinkActive="active">{{'nav.home' | translation}}</a>
  <a [routerLink]="['/workqueue']" routerLinkActive="active">{{'nav.workqueue' | translation}}</a>
  <a [routerLink]="['/supervision-tasks']" routerLinkActive="active">{{'nav.supervisionTasks' | translation}}</a>
  <a [routerLink]="['/applications']" routerLinkActive="active">{{'nav.applications' | translation}}</a>
  <a *ngIf="false" [routerLink]="['/projects']" routerLinkActive="active">{{'nav.projects' | translation}}</a>
  <a [routerLink]="['/customers']" routerLinkActive="active"
     *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION', 'ROLE_INVOICING']">
    {{'nav.customers' | translation}}
  </a>
  <a [routerLink]="['/admin']" routerLinkActive="active" *availableTo="['ROLE_ADMIN']; types ['NOTE']">{{'nav.admin' |
    translation}}</a>
</nav>
