<contact-info-acceptance
  [form]="form"
  [oldContact]="referenceContact$ | async"
  [newContact]="newContact"
  [readonly]="readonly"
  [orderer]="orderer"
  (contactChanges)="contactChanges.emit($event)">
  <div class="left-header">
    <h2 mat-dialog-title>
      {{'contact.title' | translation}}
      <ng-container *ngIf="orderer"> - {{'contact.orderer' | translation | lowercase}}</ng-container>
    </h2>
  </div>
  <div class="right-header">
    <div class="info-acceptance-hint">
      {{'contact.suggestion.info' | translation}}
    </div>
  </div>
  <div class="left-controls">
    <form [formGroup]="searchForm">
      <mat-form-field floatLabel="never" class="input-full-width" *ngIf="matchingContacts$ && !readonly">
        <input matInput type="text" formControlName="search"
               [placeholder]="'contact.search' | translation"
               [matAutocomplete]="contactSearch"/>
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
        <mat-autocomplete #contactSearch="matAutocomplete">
          <mat-option *ngFor="let contact of matchingContacts$ | async" [value]="contact.name"
                      (click)="selectReferenceContact(contact)">
            {{ contact.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="right-controls">
    <p class="acceptance-info" *ngIf="!readonly">
      <button
        *ngIf="showCreateNew$ | async"
        type="button"
        mat-raised-button
        color="primary"
        (click)="createNewContact()">
        {{'contact.createNew' | translation}}
      </button>
    </p>
  </div>
</contact-info-acceptance>
