<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById">
    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef>
        <div>
          <mat-checkbox [checked]="allSelected" (change)="checkAll($event)"></mat-checkbox>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="selected(row.id)" (change)="checkSingle($event, row.id)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.taskType' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['supervision.task.type', row.uiType] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="application.applicationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.applicationId' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.applicationIdText}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="streetAddress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.address' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.address?.streetAddress}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="plannedFinishingTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.plannedFinishingTime' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.plannedFinishingTime | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="application.status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.applicationStatus' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['application.status', row.uiApplicationStatus] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="project.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.project' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.projectName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user.realName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.creator' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.handler?.realName}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             class="row-highlight clickable"
             (click)="toApplicationTaskView(row.applicationId, $event)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="(dataSource.page | async).totalElements"
                 [pageIndex]="0"
                 [pageSize]="25"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
