@import '../../../../assets/colors';

h3.list-item-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.list-item-content {
  padding-left: 5px;
}

.status-text {
  font-weight: bold;
  color: mat-color($allu-primary, 500);
}

.mat-checkbox {
  padding-left: 10px;
}

