h1.comment-header {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}

.text-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comments-link {
  margin-top: 6px;
}
