<h1 mat-dialog-title>Hakemuksen kommentit</h1>
<div mat-dialog-content>
  <div *ngFor="let comment of comments | async">
    <h1>{{['comment.type', comment.type] | translation}}</h1>
    <div class="row">
      <div class="col s12 text-faint">
        <span>{{comment.user.realName}} {{comment.uiCreateTime}}</span>
        <span *ngIf="comment.updateTime">- Päivitetty {{comment.uiUpdateTime}}</span>
      </div>

      <div class="col s12">
        {{comment.text}}
      </div>
    </div>
    <hr>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" color="primary" (click)="close()">SULJE</button>
</div>
