<div fxLayout="row" fxLayoutAlign="start baseline">
  <div fxFlex>
    {{['configuration.key', configuration.key] | translation}}
  </div>
  <div fxFlex>
    <ng-container [ngSwitch]="configuration.type">
      <configuration-date-value
        *ngSwitchCase="'DATE'"
        [configuration]="configuration"
      ></configuration-date-value>
      <configuration-calendar-date-value
        *ngSwitchCase="'CALENDAR_DATE'"
        [configuration]="configuration"
      ></configuration-calendar-date-value>
      <configuration-user-value
        *ngSwitchCase="'USER'"
        [configuration]="configuration"
        [users]="users"
      ></configuration-user-value>
      <configuration-text-value
        *ngSwitchDefault
        [configuration]="configuration"></configuration-text-value>
    </ng-container>
  </div>
</div>
