.autocompletion-dropdown-content {
  min-width: 100px;
  width: 100%;
  max-height: 650px;
  z-index: 9999;
  position: absolute;
  opacity: 1;
  top: 20px;
  left: 0px;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;

  .autocompletion-dropdown-entry {
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }
}