<div *ngIf="sortedEntries.length > 0" class="autocompletion-dropdown-content">
  <div *ngFor="let entry of sortedEntries; let i=index;"
       [class.selected]="i === selectedIndex"
       class="autocompletion-dropdown-entry clickable"
       (click)="select(entry)">{{entry[nameField]}}
  </div>
</div>
