@import '~@angular/material/theming';

@mixin auto-completion-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .autocompletion-dropdown-content {
    background-color: mat-contrast($primary, 500);

    .autocompletion-dropdown-entry {
      color: mat-color($primary, 500);
    }

    .autocompletion-dropdown-entry:hover,
    .autocompletion-dropdown-entry.selected {
      background-color: mat-color($primary, 200);
    }
  }
}